// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

 html {
	box-sizing: border-box;
	margin: 0 !important;
	padding: 0 !important;
	margin-top: 0 !important;
}

// input{
// 	-webkit-appearance:none;
// 	-moz-appearance: none;
// 	appearance:none;
// }

a {
	&:hover {
		text-decoration: none;
	}
}

input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	// margin: 0;
  }
 


// input[type=number] {
// 	-moz-appearance: none  !important;

// 	-webkit-appearance: none !important;
//   }

.header-sticky{
	position: sticky;
	// position: -webkit-sticky;
	padding-top: 10px;
    padding-bottom: 8px;
	top: 0;
	z-index: 700;
	-webkit-box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.1);
	box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.1);
	// @media #{$media-820} {
	// 	position: fixed;	
	// }
}

// .body-sticky{
// 	@media #{$media-820} {
//  padding-top: 63px;
// 	}
// }

.f-l{float: left;}

.bg-white {
	background: #fff;
}
.object-contain{ max-width: 100%; max-height: 100%; object-fit: contain; display: block;}
.w-70 {
	width: 70% !important;

	@media #{$media-600} {
		width: 100%;
	}
}

.w-80 {
	width: 80% !important;

	@media #{$media-600} {
		width: 100%;
	}
}

.w-40 {
	width: 40% !important;

	@media #{$media-600} {
		width: 100%;
	}
}

.w-60 {
	width: 60% !important;

	@media #{$media-600} {
		width: 100%;
	}
}


.flx-row {
	display: flex;
	flex-wrap: wrap;
}

.flex-end {
	align-items: flex-end;
}


.m-w-full {
	@media #{$media-600} {
		width: 100% !important;
	}
}

.max-750 {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.max-920 {
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (max-width: 920px) {
		padding-left: 3%;
		padding-right: 3%;
	}
}

.title-50 {
	h2 {
		@media #{$media-min-1399} {
			font-size: 50px;
		}
	}
}


.title-70 {
	h1 {
		@media #{$media-min-1399} {
			font-size: 70px;
		}
	}
}


.title-35 {
	h3 {
		@media #{$media-min-1399} {
			font-size: 35px;
			font-weight: 600;
		}
	}
}

.t-0 {
	top: 0;
}

.b-0 {
	bottom: 0;
}

.l-0 {
	left: 0;
}

.r-0 {
	right: 0;
}


.title-40 {
	h3 {
		@media #{$media-min-1399} {
			font-size: 40px;
			font-weight: 700;
		}
	}
}

.wom-but {
	&:hover {
		background: #f7ced7 !important;
		border-color: #f7ced7 !important;
	}
}

.m-t-mob-45 {
	@media #{$media-600} {
		margin-top: 45px;
	}
}

//   .list-01 {
// 	li {
// 	  position: relative;
// 	  list-style: none;
// 	  padding-left: 25px;
// 	  padding-right: 1% !important;
// 	  width: 100% !important;
// 	  padding-left: 20px !important;
// 	  color: #04428d;
// 	  &:before {
// 		content: "";
// 		width: 5px;
// 		height: 5px;
// 		background-color: #f99c2e;
// 		border-radius: 50%;
// 		position: absolute;
// 		left: 0;
// 		top: 10px;

// 		@media #{$media-600} {
// 		  width: 5px;
// 		  height: 5px;
// 		  top: 6px;
// 		}
// 	  }

// 	  @media #{$media-600} {
// 		padding-left: 15px;
// 	  }
// 	}
//   }

.over-flow-fls {
	overflow: unset !important;
}

// .hide-xs {
// 	display: none
// }
.margin-bot-list {
	li {
		padding-top: 3px;
		margin-bottom: 5px !important;

		&:after {
			top: 11px !important;
		}
	}
}

// -----------------------------------------
// .effect.effect-four {
// 	background: #2e5d5a
// }

.margin-p-0 {
	p {
		margin-bottom: 15px !important;
	}
}

.blue-txt {
	color: #083a82;

	h2 {
		color: #083a82 !important;
	}

	h1 {
		color: #083a82 !important;
	}

	li {
		color: #083a82 !important;
		margin-bottom: 3px !important;
		padding-bottom: unset !important;
		border: none !important;
		padding-top: 0 !important;
		width: 100% !important;
		min-height: unset !important;
	}
}

.blue-p {
	p {
		color: #083a82 !important;
		font-weight: 600;
	}
}

.white-txt {
	color: #083a82;

	h2 {
		color: #fff;
	}

	li {
		color: #fff !important;
	}
}

.white-para {
	p {
		color: #ffffff;

		a {
			color: #ffffff;
		}
	}
}

.pl-0-m {
	@media #{$media-600} {
		padding-left: 0 !important;
	}
}

p {
	font-size: 14px;
	color: #1e1e1e;
	line-height: 24px;
	margin-bottom: 30px;
	margin-top: 0;
	font-weight: 400;
	font-family: "Poppins";

	b {
		font-weight: bold;
	}

	.gray {
		color: #a5a5a5;
	}

	@media #{$media-820} {
		font-size: 13px !important;
		line-height: 20px;
	}

	@media #{$media-600} {
		font-size: 13px !important;
		line-height: 17px;
		margin-bottom: 10px;
	}
}

.underline {
	text-decoration: underline;
}

.mt-m-35 {
	@media #{$media-600} {
		margin-top: 35px;
	}
}

.bg-none {
	background: transparent !important;
}

.radius-t-180 {
	border-radius: 0 180px 0 0 !important;

	@media #{$media-1024} {
		border-radius: 0 110px 0 0 !important;
	}

	@media #{$media-820} {
		border-radius: 0 100px 0 0 !important;
	}

	@media #{$media-600} {
		border-radius: 0 60px 0 0 !important;
	}
}

.radius-b-180 {
	border-radius: 0 0 180px 0 !important;

	@media #{$media-1024} {
		border-radius: 0 0 110px 0 !important;
	}

	@media #{$media-820} {
		border-radius: 0 0 100px 0 !important;
	}

	@media #{$media-600} {
		border-radius: 0 0 60px 0 !important;
	}
}

.border-top-right {
	-webkit-border-radius: 0 180px 0 0;
	border-radius: 0 180px 0 0;

	@media #{$media-600} {
		border-radius: 0 60px 0 0;
	}

	@media #{$media-480} {
		-webkit-border-radius: 0 50px 0 0;
		border-radius: 0 50px 0 0;
	}
}

.border-top-bottom {
	-webkit-border-radius: 0 0 100px 0 !important;
	border-radius: 0 0 100px 0 !important;
	background: #e7eaef;

	@media #{$media-480} {
		-webkit-border-radius: 0 0 50px 0 !important;
		border-radius: 0 0 50px 0 !important;
	}
}

.container {
	max-width: 1400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	@media #{$media-1200} {
		padding-left: 2%;
		padding-right: 2%;
	}
}

.container-menu {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.justify-center {
	justify-content: center;
}

// :root {
//     --Proxima_Medium:"Proxima Nova Medium";
//     --Proxima_Light:"Proxima Nova Light";
//     --Proxima_Bold:"Proxima Nova Bold";
//     --Source_Sans:'Source Sans Pro', sans-serif;;

//   }

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: $proxima-bold;
	font-weight: 700;
}

h3 {
	font-size: 22px;
	font-weight: 600;
	margin: 0;

	@media #{$media-820} {
		font-size: 19px;
		// line-height: 38px !important;
	}

	@media #{$media-600} {
		font-size: 23px;
	}
}

.not {
	p {
		font-size: 12px;
	}
}

.img-fit {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}


h2 {
	font-size: 50px;
	font-weight: 200;
	margin-bottom: 30px;
	line-height: 55px;
	margin-top: 0;
	color: #38405f;


	@media #{$media-1024} {
		font-size: 40px;
		margin-bottom: 10px;
	}

	@media #{$media-820} {
		font-size: 39px;
		margin-bottom: 10px;
		line-height: 40px;
	}


	@media #{$media-600} {
		font-size:25px;

		line-height: 31px;
	}

}

.title-row {
	width: 100%;
}

.title-main {

	h2 {
		font-size: 55px;
		line-height: 65px;
		font-weight: 700;
		color: #38405f;
		margin: 0 0px 45px 0px;

		@media #{$media-1024} {
			font-size: 48px;
			line-height: 58px;
			margin-bottom: 15px;
		}

		@media #{$media-820} {
			font-size: 40px;
			line-height: 50px !important;
		}

		@media #{$media-600} {
			font-size: 28px;
			line-height: 30px !important;
		}

		// @media #{$media-480} {
		// 	font-size: 20px;
		// }


		// span {
		// 	color: #fff;
		// 	-webkit-text-stroke: 2px #d5583a;
		// 	color: #fff;
		// }
	}
}
.pl-0{padding-left: 0 !important;}
.fw-b {
	font-weight: bold;
}

.pt-0 {
	padding-top: 0 !important;
}

.pb-0 {
	padding-bottom: 0 !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.p-0 {
	padding: 0 !important;
}

.pt-5 {
	padding-top: 5px;
}

.pb-5 {
	padding-bottom: 5px;
}

.pt-10 {
	padding-top: 10px;

	@media #{$media-600} {
		padding-top: 5px;
	}
}

.pb-10 {
	padding-bottom: 10px;

	@media #{$media-600} {
		padding-bottom: 5px;
	}
}

.pt-15 {
	padding-top: 15px;

	@media #{$media-600} {
		padding-top: 10px;
	}
}

.pb-15 {
	padding-bottom: 15px;

	@media #{$media-600} {
		padding-bottom: 10px;
	}
}

.pt-20 {
	padding-top: 20px;

	@media #{$media-600} {
		padding-top: 10px;
	}
}

.pb-20 {
	padding-bottom: 20px;

	@media #{$media-600} {
		padding-bottom: 10px;
	}
}

.pt-25 {
	padding-top: 25px;

	@media #{$media-600} {
		padding-top: 15px;
	}
}

.pb-25 {
	padding-bottom: 25px;

	@media #{$media-600} {
		padding-bottom: 15px;
	}
}

.pt-30 {
	padding-top: 30px;

	@media #{$media-600} {
		padding-top: 15px;
	}
}

.pb-30 {
	padding-bottom: 30px !important;

	@media #{$media-600} {
		padding-bottom: 15px !important;
	}
}

.pt-35 {
	padding-top: 35px;

	@media #{$media-600} {
		padding-top: 17px;
	}
}

.pb-35 {
	padding-bottom: 35px;

	@media #{$media-600} {
		padding-bottom: 17px;
	}
}

.pt-40 {
	padding-top: 40px;

	@media #{$media-820} {
		padding-top: 15px;
	}

	@media #{$media-600} {
		padding-top: 10px;
	}
}

.pb-40 {
	padding-bottom: 40px;

	@media #{$media-820} {
		padding-bottom: 15px;
	}

	@media #{$media-600} {
		padding-bottom: 10px;
	}
}

.pt-45 {
	padding-top: 45px;

	@media #{$media-600} {
		padding-top: 22px;
	}
}

.pb-45 {
	padding-bottom: 45px;

	@media #{$media-600} {
		padding-bottom: 22px;
	}
}

.pt-50 {
	padding-top: 50px;

	@media #{$media-820} {
		padding-top: 35px;
	}

	@media #{$media-600} {
		padding-top: 25px;
	}
}

.pb-50 {
	padding-bottom: 50px;

	@media #{$media-820} {
		padding-bottom: 35px;
	}

	@media #{$media-600} {
		padding-bottom: 25px;
	}
}

.pt-55 {
	padding-top: 55px;

	@media #{$media-820} {
		padding-top: 40px;
	}

	@media #{$media-600} {
		padding-top: 27px;
	}
}

.pb-55 {
	padding-bottom: 55px;

	@media #{$media-820} {
		padding-bottom: 40px;
	}

	@media #{$media-600} {
		padding-bottom: 27px;
	}
}

.pb-60 {
	padding-bottom: 60px;

	@media #{$media-600} {
		padding-bottom: 30px;
	}
}

.pt-60 {
	padding-top: 60px;

	@media #{$media-600} {
		padding-top: 30px;
	}
}

.pb-65 {
	padding-bottom: 65px;

	@media #{$media-600} {
		padding-bottom: 32px;
	}
}

.pt-65 {
	padding-top: 65px;

	@media #{$media-600} {
		padding-top: 32px;
	}
}

.pb-70 {
	padding-bottom: 70px;

	@media #{$media-600} {
		padding-bottom: 35px;
	}
}

.pt-70 {
	padding-top: 70px;

	@media #{$media-600} {
		padding-top: 35px;
	}
}

.pb-75 {
	padding-bottom: 75px;

	@media #{$media-600} {
		padding-bottom: 36px;
	}
}

.pt-75 {
	padding-top: 75px;

	@media #{$media-600} {
		padding-top: 36px;
	}
}

.pt-80 {
	padding-top: 80px;

	@media #{$media-1024} {
		padding-top: 70px;
	}

	@media #{$media-820} {
		padding-top: 60px;
	}

	@media #{$media-600} {
		padding-top: 30px;
	}

	@media #{$media-480} {
		padding-top: 30px;
	}
}

.pb-80 {
	padding-bottom: 80px;

	@media #{$media-820} {
		padding-bottom: 60px;
	}

	@media #{$media-600} {
		padding-bottom: 30px;
	}
}

.pt-85 {
	padding-top: 85px;

	@media #{$media-600} {
		padding-top: 42px;
	}
}

.pb-85 {
	padding-bottom: 85px;

	@media #{$media-600} {
		padding-bottom: 42px;
	}
}

.pt-90 {
	padding-top: 90px;

	@media #{$media-820} {
		padding-top: 50px;
	}

	@media #{$media-600} {
		padding-top: 46px;
	}
}

.pb-90 {
	padding-bottom: 90px;

	@media #{$media-820} {
		padding-bottom: 50px;
	}

	@media #{$media-600} {
		padding-bottom: 46px;
	}
}

.pt-100 {
	padding-top: 100px;

	@media #{$media-1024} {
		padding-top: 80px;
	}

	@media #{$media-820} {
		padding-top: 70px;
	}

	@media #{$media-600} {
		padding-top: 50px;
	}

	@media #{$media-480} {
		padding-top: 30px;
	}
}

.pb-100 {
	padding-bottom: 100px;

	@media #{$media-1024} {
		padding-bottom: 80px;
	}

	@media #{$media-820} {
		padding-bottom: 70px;
	}

	@media #{$media-600} {
		padding-bottom: 50px;
	}

	@media #{$media-480} {
		padding-bottom: 30px;
	}
}

.pt-110 {
	padding-top: 110px;

	@media #{$media-1024} {
		padding-top: 90px;
	}

	@media #{$media-820} {
		padding-top: 70px;
	}

	@media #{$media-600} {
		padding-top: 50px;
	}

	@media #{$media-480} {
		padding-top: 30px;
	}
}


.pb-110 {
	padding-bottom: 110px;

	@media #{$media-1024} {
		padding-bottom: 90px;
	}

	@media #{$media-820} {
		padding-bottom: 70px;
	}

	@media #{$media-600} {
		padding-bottom: 50px;
	}

	@media #{$media-480} {
		padding-bottom: 30px;
	}
}


.pt-115 {
	padding-top: 115px;

	@media #{$media-1024} {
		padding-top: 80px;
	}
	@media #{$media-820} {
		padding-top: 70px;
	}

	@media #{$media-600} {
		padding-top: 57px;
	}
}

.pb-115 {
	padding-bottom: 115px;
	@media #{$media-1024} {
		padding-bottom: 80px;
	}
	@media #{$media-820} {
		padding-bottom: 70px;
	}

	@media #{$media-600} {
		padding-bottom: 57px;
	}
}

.pb-120 {
	padding-bottom: 120px;

	@media #{$media-1366} {
		padding-bottom: 100px;
	}

	@media #{$media-1200} {
		padding-bottom: 80px;
	}

	@media #{$media-820} {
		padding-bottom: 70px;
	}

	@media #{$media-600} {
		padding-bottom: 50px;
	}
}

.pt-120 {
	padding-top: 120px;

	@media #{$media-1366} {
		padding-top: 100px;
	}

	@media #{$media-1200} {
		padding-top: 80px;
	}

	@media #{$media-820} {
		padding-top: 70px;
	}

	@media #{$media-600} {
		padding-top: 50px;
	}
}

.pt-125 {
	padding-top: 125px;

	@media #{$media-600} {
		padding-top: 62px;
	}
}

.pb-125 {
	padding-bottom: 125px;

	@media #{$media-600} {
		padding-bottom: 62px;
	}
}

.pt-130 {
	padding-top: 130px;


	@media #{$media-820} {
		padding-top: 80px;
	}
	@media #{$media-600} {
		padding-top: 65px;
	}
}

.pb-130 {
	padding-bottom: 130px;

	@media #{$media-820} {
		padding-bottom: 80px;
	}
	@media #{$media-600} {
		padding-bottom: 65px;
	}
}

.pt-135 {
	padding-top: 135px;
	@media #{$media-820} {
		padding-top: 80px;
	}
	@media #{$media-600} {
		padding-top: 67px;
	}
}

.pb-135 {
	padding-bottom: 135px;
	@media #{$media-820} {
		padding-bottom: 80px;
	}
	@media #{$media-600} {
		padding-bottom: 67px;
	}
}

@media only screen and (min-width: 1440px) {
	.pt-140 {
		padding-top: 140px !important;
	}

	.pb-140 {
		padding-bottom: 140px !important;
	}
}

.pb-140 {
	padding-bottom: 140px;

	@media #{$media-600} {
		padding-bottom: 70px;
	}
}

.pt-140 {
	padding-top: 140px;

	@media #{$media-600} {
		padding-top: 70px;
	}
}

.pb-140 {
	padding-bottom: 140px;

	@media #{$media-600} {
		padding-bottom: 70px;
	}
}

.pt-145 {
	padding-top: 145px;

	@media #{$media-820} {
		padding-top: 70px;
	}

	@media #{$media-600} {
		padding-top: 72px;
	}
}

.pb-145 {
	padding-bottom: 145px;

	@media #{$media-820} {
		padding-bottom: 70px;
	}

	@media #{$media-600} {
		padding-bottom: 25px;
	}
}

.pt-150 {
	padding-top: 150px;


	@media #{$media-820} {
		padding-top: 80px;
	}
	@media #{$media-600} {
		padding-top: 75px;
	}

	@media #{$media-480} {
		padding-top: 45px;
	}
}

.pb-150 {
	padding-bottom: 150px;
	@media #{$media-820} {
		padding-bottom: 80px;
	}

	@media #{$media-600} {
		padding-bottom: 75px;
	}

	@media #{$media-480} {
		padding-bottom: 45px;
	}
}

.pt-155 {
	padding-top: 155px;

	@media #{$media-600} {
		padding-top: 77px;
	}
}

.pb-155 {
	@media #{$media-600} {
		padding-bottom: 77px;
	}
}

.pt-160 {
	padding-top: 160px;

	@media #{$media-1024} {
		padding-top: 100px;
	}

	@media #{$media-600} {
		padding-top: 80px;
	}
}

.pb-160 {
	padding-bottom: 160px;

	@media #{$media-600} {
		padding-bottom: 80px;
	}
}

.pt-165 {
	padding-top: 165px;

	@media #{$media-600} {
		padding-top: 82px;
	}
}

.pb-165 {
	padding-bottom: 165px;

	@media #{$media-600} {
		padding-bottom: 82px;
	}
}

.pt-170 {
	padding-top: 170px;

	@media #{$media-600} {
		padding-top: 85px;
	}
}

.pb-170 {
	padding-bottom: 170px;

	@media #{$media-600} {
		padding-bottom: 85px;
	}
}

.pb-175 {
	padding-bottom: 175px;

	@media #{$media-820} {
		padding-bottom: 87px;
	}

	@media #{$media-600} {
		padding-bottom: 120px;
	}

	@media #{$media-480} {
		padding-bottom: 40px;
	}
}

.pt-175 {
	padding-top: 175px;

	@media #{$media-600} {
		padding-top: 87px;
	}

	@media #{$media-820} {
		padding-top: 80px;
	}

	@media #{$media-480} {
		padding-top: 40px;
	}
}

.pb-180 {
	padding-bottom: 180px;

	@media #{$media-600} {
		padding-bottom: 90px;
	}
}

.pt-180 {
	padding-top: 180px;

	@media #{$media-600} {
		padding-top: 90px;
	}
}

.pb-185 {
	padding-bottom: 185px;

	@media #{$media-600} {
		padding-bottom: 92px;
	}
}

.pt-185 {
	padding-top: 185px;

	@media #{$media-820} {
		padding-top: 105px;
	}

	@media #{$media-600} {
		padding-top: 92px;
	}
}

.pb-190 {
	padding-bottom: 190px;

	@media #{$media-1024} {
		padding-bottom: 120px;
	}

	@media #{$media-820} {
		padding-bottom: 110px;
	}

	@media #{$media-600} {
		padding-bottom: 95px;
	}
}

.pt-190 {
	padding-top: 190px;

	@media #{$media-1024} {
		padding-top: 120px;
	}

	@media #{$media-820} {
		padding-top: 110px;
	}

	@media #{$media-600} {
		padding-top: 95px;
	}
}

.pb-195 {
	padding-bottom: 195px;

	@media #{$media-820} {
		padding-bottom: 115px;
	}

	@media #{$media-600} {
		padding-bottom: 97px;
	}
}

.pt-195 {
	padding-top: 195px;

	@media #{$media-820} {
		padding-top: 115px;
	}

	@media #{$media-600} {
		padding-top: 97px;
	}
}

.pb-200 {
	padding-bottom: 200px;

	@media #{$media-820} {
		padding-bottom: 150px;
	}

	@media #{$media-600} {
		padding-bottom: 100px;
	}
}

.pt-200 {
	padding-top: 200px;

	@media #{$media-820} {
		padding-top: 150px;
	}

	@media #{$media-600} {
		padding-top: 100px;
	}
}

// ------------------------------------------------------
.mx-auto{margin-left: auto; margin-right: auto;}

.m-0{ margin: 0 !important;}
.p-0{ padding: 0;}
.mt-0 {
	margin-top: 0;
}

 

.mt-0 {
	margin-top: 0;
}

 
.p-0 {
	margin: 0 !important;
}

.mt-5 {
	margin-top: 5px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mt-10 {
	margin-top: 10px;

	@media #{$media-600} {
		margin-top: 5px;
	}
}

.mb-10 {
	margin-bottom: 10px !important;

	@media #{$media-600} {
		margin-bottom: 5px;
	}
}

.mt-15 {
	margin-top: 15px;

	@media #{$media-600} {
		margin-top: 10px;
	}
}

.mb-15 {
	margin-bottom: 15px;

	@media #{$media-600} {
		margin-bottom: 10px;
	}
}

.mt-20 {
	margin-top: 20px !important;

	@media #{$media-600} {
		margin-top: 10px !important;
	}
}

.mb-20 {
	margin-bottom: 20px;

	@media #{$media-600} {
		margin-bottom: 10px;
	}
}

.mt-30 {
	margin-top: 30px;

	@media #{$media-600} {
		margin-top: 15px;
	}
}

.mb-30 {
	margin-bottom: 30px;

	@media #{$media-820} {
		margin-bottom: 9px;
	}

	@media #{$media-600} {
		margin-bottom: 15px;
	}
}

.mt-35 {
	margin-top: 35px;

	@media #{$media-1024} {
		margin-top: 17px;
	}

	@media #{$media-820} {
		margin-top: 9px;
	}

	@media #{$media-600} {
		margin-top: 17px;
	}
}

.mb-35 {
	margin-bottom: 35px;

	@media #{$media-600} {
		margin-bottom: 17px;
	}
}

.mt-40 {
	margin-top: 40px;

	@media #{$media-820} {
		margin-top: 20px;
	}

	@media #{$media-600} {
		margin-top: 20px;
	}
}

.mb-40 {
	margin-bottom: 40px;

	@media #{$media-600} {
		margin-bottom: 20px;
	}
}

.mt-45 {
	margin-top: 45px;

	@media #{$media-600} {
		margin-top: 22px;
	}
}

.mb-45 {
	margin-bottom: 45px;

	@media #{$media-600} {
		margin-bottom: 22px;
	}
}

.mt-50 {
	margin-top: 50px;

	@media #{$media-600} {
		margin-top: 15px;
	}

	@media #{$media-820} {
		margin-top: 20px;
	}
}

.mb-50 {
	margin-bottom: 50px;

	@media #{$media-820} {
		margin-bottom: 20px;
	}

	@media #{$media-600} {
		margin-bottom: 15px;
	}
}

.mt-55 {
	margin-top: 55px;

	@media #{$media-820} {
		margin-top: 40px;
	}

	@media #{$media-600} {
		margin-top: 27px;
	}
}

.mb-55 {
	margin-bottom: 55px;

	@media #{$media-600} {
		margin-bottom: 27px;
	}

	@media #{$media-820} {
		margin-bottom: 40px;
	}
}

.mb-60 {
	margin-bottom: 60px;

	@media #{$media-820} {
		margin-bottom: 40px;
	}

	@media #{$media-600} {
		margin-bottom: 30px;
	}
}

.mt-60 {
	margin-top: 60px;

	@media #{$media-600} {
		margin-top: 30px;
	}
}

.mb-65 {
	margin-bottom: 65px;

	@media #{$media-600} {
		margin-bottom: 32px;
	}
}

.mt-65 {
	margin-top: 65px;

	@media #{$media-600} {
		margin-top: 32px;
	}
}

.mb-70 {
	margin-bottom: 70px;

	@media #{$media-600} {
		margin-bottom: 35px;
	}
}

.mt-70 {
	margin-top: 70px;

	@media #{$media-600} {
		margin-top: 35px;
	}
}

.mb-75 {
	margin-bottom: 75px;

	@media #{$media-600} {
		margin-bottom: 36px;
	}
}

.mt-75 {
	margin-top: 75px;

	@media #{$media-600} {
		margin-top: 36px;
	}
}

.mt-80 {
	margin-top: 80px;

	@media #{$media-600} {
		margin-top: 40px;
	}
}

.mb-80 {
	margin-bottom: 80px;

	@media #{$media-600} {
		margin-bottom: 40px;
	}
}

.mt-85 {
	margin-top: 85px;

	@media #{$media-600} {
		margin-top: 42px;
	}
}

.mb-85 {
	margin-bottom: 85px;

	@media #{$media-600} {
		margin-bottom: 42px;
	}
}

.mb-90 {
	margin-bottom: 90px;

	@media #{$media-600} {
		margin-bottom: 35px;
	}
}


.mt-100 {
	margin-top: 100px;

	@media #{$media-1024} {
		margin-top: 45px;
	}

	@media #{$media-600} {
		margin-top: 50px;
	}

	@media #{$media-480} {
		margin-top: 20px;
	}
}

.mb-100 {
	margin-bottom: 100px;

	@media #{$media-1024} {
		margin-bottom: 45px;
	}

	@media #{$media-600} {
		margin-bottom: 50px;
	}

	@media #{$media-480} {
		margin-bottom: 20px;
	}
}

.mt-115 {
	margin-top: 115px;

	@media #{$media-600} {
		margin-top: 57px;
	}
}

.mb-115 {
	margin-bottom: 115px;

	@media #{$media-600} {
		margin-bottom: 57px;
	}
}

.mb-120 {
	margin-bottom: 120px;

	@media #{$media-1200} {
		margin-bottom: 90px;
	}

	@media #{$media-1024} {
		margin-bottom: 80px;
	}

	@media #{$media-600} {
		margin-bottom: 60px;
	}
}

.mt-120 {
	margin-top: 120px;

	@media #{$media-1200} {
		margin-top: 90px;
	}

	@media #{$media-1024} {
		margin-top: 80px;
	}

	@media #{$media-600} {
		margin-top: 60px;
	}
}

.mt-125 {
	margin-top: 125px;

	@media #{$media-600} {
		margin-top: 62px;
	}
}

.mb-125 {
	margin-bottom: 125px;

	@media #{$media-600} {
		margin-bottom: 62px;
	}
}

.mt-130 {
	margin-top: 130px;

	@media #{$media-820} {
		margin-top: 75px;
	}

	@media #{$media-600} {
		margin-top: 65px;
	}
}

.mb-130 {
	margin-bottom: 130px;

	@media #{$media-820} {
		margin-bottom: 75px;
	}

	@media #{$media-600} {
		margin-bottom: 65px;
	}
}

.mt-135 {
	margin-top: 135px;

	@media #{$media-600} {
		margin-top: 67px;
	}
}

.mb-135 {
	margin-bottom: 135px;

	@media #{$media-600} {
		margin-bottom: 67px;
	}
}

.mt-140 {
	margin-top: 140px;

	@media #{$media-600} {
		margin-top: 70px;
	}
}

.mb-140 {
	margin-bottom: 140px;

	@media #{$media-600} {
		margin-bottom: 70px;
	}
}

.mt-145 {
	margin-top: 145px;

	@media #{$media-600} {
		margin-top: 72px;
	}
}

.mb-145 {
	margin-bottom: 145px;

	@media #{$media-600} {
		margin-bottom: 72px;
	}
}

.mt-150 {
	margin-top: 150px;

	@media #{$media-600} {
		margin-top: 75px;
	}
}

.mb-150 {
	margin-bottom: 150px;

	@media #{$media-1024} {
		margin-bottom: 80px;
	}

	@media #{$media-600} {
		margin-bottom: 45px;
	}
}

.mt-155 {
	margin-top: 155px;

	@media #{$media-600} {
		margin-top: 77px;
	}
}

.mb-155 {
	@media #{$media-600} {
		margin-bottom: 77px;
	}
}

.mt-160 {
	margin-top: 160px;

	@media #{$media-600} {
		margin-top: 80px;
	}
}

.mb-160 {
	margin-bottom: 160px;

	@media #{$media-600} {
		margin-bottom: 80px;
	}
}

.mt-165 {
	margin-top: 165px;

	@media #{$media-600} {
		margin-top: 82px;
	}
}

.mb-165 {
	margin-bottom: 165px;

	@media #{$media-600} {
		margin-bottom: 82px;
	}
}

.mt-170 {
	margin-top: 170px;

	@media #{$media-600} {
		margin-top: 85px;
	}
}

.mb-170 {
	margin-bottom: 170px;

	@media #{$media-600} {
		margin-bottom: 85px;
	}
}

.mb-175 {
	margin-bottom: 175px;

	@media #{$media-820} {
		margin-bottom: 87px;
	}

	@media #{$media-600} {
		margin-bottom: 120px;
	}

	@media #{$media-480} {
		margin-bottom: 40px;
	}
}

.mt-175 {
	margin-top: 175px;

	@media #{$media-600} {
		margin-top: 87px;
	}

	@media #{$media-820} {
		margin-top: 80px;
	}

	@media #{$media-480} {
		margin-top: 40px;
	}
}

.mb-180 {
	margin-bottom: 180px;

	@media #{$media-600} {
		margin-bottom: 90px;
	}
}

.mt-180 {
	margin-top: 180px;

	@media #{$media-600} {
		margin-top: 90px;
	}
}

.mb-185 {
	margin-bottom: 185px;

	@media #{$media-600} {
		margin-bottom: 92px;
	}
}

.mt-185 {
	margin-top: 185px;

	@media #{$media-600} {
		margin-top: 92px;
	}
}

.mb-190 {
	margin-bottom: 185px;

	@media #{$media-600} {
		margin-bottom: 95px;
	}
}

.mt-190 {
	margin-top: 185px;

	@media #{$media-600} {
		margin-top: 95px;
	}
}

.mb-195 {
	margin-bottom: 195px;

	@media #{$media-600} {
		margin-bottom: 97px;
	}
}

.mt-195 {
	margin-top: 195px;

	@media #{$media-600} {
		margin-top: 97px;
	}
}

.mb-200 {
	margin-bottom: 200px;
	@media #{$media-820} {
		margin-bottom: 100px;
	}
	@media #{$media-600} {
		margin-bottom: 100px;
	}
}

.mt-200 {
	margin-top: 200px;

	@media #{$media-600} {
		margin-top: 80px;
	}
}

// ------------------

.mx-100 {
	max-width: 100%;
}

.bg-gray-2 {
	background: #e7eaef;
}

.text-blue {
	color: #083a82 !important;

	h2 {
		color: #083a82 !important;
	}

	p {
		color: #083a82 !important;
	}
}

.flx-center {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

/**
	 * Make all elements from the DOM inherit from the parent box-sizing
	 * Since `*` has a specificity of 0, it does not override the `html` value
	 * making all elements inheriting from the root box-sizing value
	 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
	 */

*,
*::before,
*::after {
	box-sizing: inherit;
}

.over-flow-true {
	overflow: hidden;
}

.row-reverce {
	flex-direction: row-reverse;

	.padding-left {
		padding-left: 4%;

		@media #{$media-600} {
			padding-left: 0% !important;
		}
	}
}

 
.owl-prev,
header,
.top-bar,
.trans,
span.icon-arrow-menu,
.nav-bar,
.bbk_debit_card_box,
.pro-img-box,
.menu-sec,
.sticky-active,
.brand-menu-itm,
.tab-txt,
.owl-next,
.but-01,
.hover-box-project,
.problock-03,
.medical-ul>li,
.swiper-button-next,
.swiper-button-prev,
.hover-box-02,
.icon-right-arrow1,
.more-but span,
a,
img {
	transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;
}


.but-01{
	-webkit-appearance: none;
	 
}

.fw-b {
	font-weight: bold !important;
}

.list-none {
	li {
		&::after {
			display: none !important;
		}

		&::before {
			display: none !important;
		}

		list-style: none;
	}
}

.align-right {
	text-align: right;
}
.align-left {
	text-align: left; align-items: flex-start;
}
.owl-next {
	position: absolute;
	right: -80px;
	top: 50%;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border: solid 1px #ccc;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.owl-prev {
	position: absolute;
	left: -80px;
	top: 50%;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	border: solid 1px #ccc;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.owl-next:hover,
.owl-prev:hover {
	border-color: #5b725e;
}

.w-100 {
	width: 100% !important;
}

.h-100 {
	height: 100%;
}

.w-50 {
	width: 50% !important;

	@media #{$media-820} {
		width: 100% !important;
	}
}

.w-60 {
	width: 60% !important;

	@media #{$media-820} {
		width: 100% !important;
	}
}

.w-68 {
	width: 68% !important;

	@media #{$media-820} {
		width: 100% !important;
	}
}

.w-75 {
	width: 75% !important;

	@media #{$media-820} {
		width: 100% !important;
	}
}

.object-fit {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: inherit;
}

.list-none {
	p {
		&::after {
			display: none;
		}
	}
}

.flx-align-right {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end !important;
}

.flx-align-left {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

::-webkit-input-placeholder {
	/* Edge */
	color: #1f2423;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #1f2423;
}

::placeholder {
	color: #1f2423;
}

.zoom-ef {
	overflow: hidden;

	img {
		transform: scale(1);
		transition: all 0.4s ease-out 0s;
		-moz-transition: all 0.4s ease-out 0s;
		-webkit-transition: all 0.4s ease-out 0s;
		-o-transition: all 0.4s ease-out 0s;
	}

	&:hover {
		img {
			transform: scale(1.12);
		}
	}
}

.error-404 {
	background: #fff;
	text-align: left;
}

.error-404 .page-title {
	color: #000;
	padding: 0;
	margin-bottom: 20px;
}

.error-404 form {
	max-width: 500px;
	margin: 50px auto 0;
	position: relative;
}

.error-404 .screen-reader-text {
	display: none;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.error-404 .search-submit {
	background: none;
	border: 0;
	position: absolute;
	right: 10px;
	top: 0;
	cursor: pointer;
	padding: 15px 5px 14px;
}

.error-404 input {
	padding-right: 37px;
}

.error-404 .search-submit svg {
	width: 20px;
	height: 20px;
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

.error-404 {
	h1 {
		margin-bottom: 15px;
		font-weight: 700;
	}

	h3 {
		margin: 40px 0px 25px 0px;
	}

	h4 {
		margin-bottom: 15px;
	}

	ul {
		margin-left: 30px;

		li {
			list-style: disc;
			font-size: 15px;
			margin-bottom: 0px;
		}
	}
}

.pt-m-0 {
	@media #{$media-600} {
		padding-top: 0 !important;
	}
}
 
.but-01,
.btn-primary {
	border: solid 1px #e6e7e8;
	height: 45px;
	padding: 0px 28px;
	letter-spacing: 1px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-weight:500;
	color: #38405f;
	font-size: 14px;
	background: transparent;
	border-color: #38405f;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	appearance: none;
	&:hover,&:focus,&:target, &:focus-visible   {
		background: #38405f  ;
		color: #fff !important;
		border-color: #38405f;
	}

	@media #{$media-1024} {
		height: 40px;
		padding: 0px 25px;
		font-size: 11px;
		line-height: 12px;
	}

	@media #{$media-480} {
		height: 40px;
		padding: 0px 20px;
		font-size: 10px;
	}

	&.but-yellow {
		background: #ffcc05;

		&:hover {
			background: #ffe26c;
			color: #000;
			cursor: pointer;
		}
	}

	&.but-green {
		background: #1e6050;
		border: none;
		color: #fff;

		&:hover {
			background: #217c65;
			color: #fff;
			cursor: pointer;
		}
	}

	&.but-white {
		background: #fff;
		border: solid 1px #e8e8e8;
		color: #000;

		&:hover {
			background: #ffe26c;
			color: #000;
			cursor: pointer;
		}
	}

	@media #{$media-600} {
		padding: 0px 15px;
		font-size: 11px;
	}

	&.but-01 {
		color: #38405f;

		//  &:hover{background: #ff4c51;}
	}
}


.text-black {
	p {
		color: #000 !important;
	}

	color: #000 !important;

	li {
		color: #000 !important;
	}

	h2 {
		color: #000;
	}
}

.bg-black {
	background: #000;

	h3 {
		color: #fff;
	}

	p {
		color: #fff !important;
	}
}

// max-width: 167px;
.but-black {
	padding: 0% 10px 0% 10px;
	border: solid 1px #ccc;
	display: flex !important;
	color: #ffff;
	align-items: center;
	justify-content: center;
	width: 150px;
	font-size: 12px;
	height: 35px;

	&:hover {
		background: #e4c27a;
		text-decoration: none;
	}
}

.d-flx {
	display: flex;
	flex-wrap: wrap;
}

.d-block {
	display: block;
}

.wrap {
	max-width: 1260px;
	width: 100%;
	margin: auto auto;
	// position: relative;
	z-index: 150;

	@media #{$media-1198} {
		padding-left: 2%;
		padding-right: 2%;
	}

	@media #{$media-820} {
		padding-left: 4% !important;
		padding-right: 4% !important;
		overflow-x: hidden;
	}

	@media only screen and (max-width:1260px) {
		padding-left: 2%;
		padding-right: 2%;


	}

 

}

.wrap-02 {
	max-width: 995px;
	margin: auto auto;

	@media #{$media-995} {
		padding-left: 3%;
		padding-right: 3%;
	}
}

// .pt-200 {
//     padding-top: 200px;
// }
.full-width {
	width: 100% !important;
}

.guidance-demo-block {
	.full-width {
		width: 97% !important;

		p {
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

// .page-template-default:not(.home) {
//     h1 {
//         text-transform: uppercase;
//         font-size: 30px;
//         font-weight: 500;
//         margin: 45px 0px 0px 0px;
//         color: black;
//         line-height: 44px;
//     }
//     h2 {
//         text-transform: uppercase;
//         font-size: 20px;
//         font-weight: 500;
//         margin: 25px 0px 0px 0px;
//         color: black;
//         line-height: 44px;
//     }
//     h3 {
//         text-transform: uppercase;
//         font-size: 20px;
//         font-weight: 500;
//         margin: 25px 0px 0px 0px;
//         color: black;
//         line-height: 44px;
//     }
// }
.SumoSelect {
	width: 100% !important;

	.CaptionCont {
		border: solid 1px #a3a3a3;
		text-align: left;
		height: 40px;
		padding: 10px 15px;
	}

	.optWrapper {
		top: 52px !important;
		text-align: left;
	}
}

/* .page-template-default{
	
	  h1{    text-transform: uppercase; font-size: 20px; font-weight: 500; margin: 25px 0px 0px 0px; color: black; line-height: 44px;}
	  h2{    text-transform: uppercase;      font-size: 20px; font-weight: 500; margin: 25px 0px 0px 0px; color: black; line-height: 44px;}
	  h3{    text-transform: uppercase;  font-size: 20px; font-weight: 500; margin: 25px 0px 0px 0px; color: black; line-height: 44px;}
	
	 }
	*/

body {
	margin: 0px;
	overflow-x: hidden;
	
	font-family: "Poppins";
}

section:not(.map-sec,.tab-row-02,.over-fls){
	overflow-x: hidden;
}

html {
	@media #{$media-1366} {
		overflow-x: hidden;
	}
}

.px-2 {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

ul {
	margin: 0px;
	padding: 0px;
}

.flex-end {
	align-items: flex-end;
}

input {
	&:focus {
		outline: none;
	}
}

.m-auto {
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #000;
}

a:hover {
	color: #0974a3;
}

.sitemap {
	border: 1px solid #ccc;
	padding: 45px;
	margin-bottom: 45px;
}

.align-middle {
	display: table;
	width: 100%;

	>div {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
	}
}

.align-center {
	text-align: center;
}

.flx {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flx-align-center{align-items: center !important;}

.flx-box {
	display: flex;
	flex-wrap: wrap;
}

.res-img {
	// width: 100%;
	 width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.res-img-contain {
	// width: 100%;
	 width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}



.privacy-policy .status-publish {
	border: 1px solid #ccc;
	padding: 45px;
}

.page-template-page-termsofuse .status-publish {
	border: 1px solid #ccc;
	padding: 45px;
}

figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 90px;
	background: rgba(25, 23, 24, 0.5);
	color: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe h2 {
	color: #fff;
	font-size: 15px;
	line-height: 25px;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
	bottom: 8em;
	padding: 2em;
	color: #fff;
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	/* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, 200%, 0);
	transform: translate3d(0, 200%, 0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: "\e000";
}

.icon-paper-clip::before {
	content: "\e001";
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.container-02 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;

	@media #{$media-1200} {
		padding-left: 3%;
		padding-right: 3%;
	}
}

/*.container::before {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	  -webkit-transform: scale(0.98);
			  transform: scale(0.98);
	  -webkit-transition: -webkit-transform 0.28s ease-in-out;
	  transition: -webkit-transform 0.28s ease-in-out;
	  transition: transform 0.28s ease-in-out;
	  transition: transform 0.28s ease-in-out, -webkit-transform 0.28s ease-in-out;
	  z-index: -1;
	}
	.container:hover::before {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	}*/

.button-container {
	text-align: center;
}

fieldset {
	margin: 0 0 3rem;
	padding: 0;
	border: none;
}

.form-radio,
.form-group {
	position: relative;
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
}

.form-inline>.form-group,
.form-inline>.btn {
	display: inline-block;
	margin-bottom: 0;
}

.form-help {
	margin-top: 0.125rem;
	margin-left: 0.125rem;
	color: #b3b3b3;
	font-size: 0.8rem;
}

.checkbox .form-help,
.form-radio .form-help,
.form-group .form-help {
	position: absolute;
	width: 100%;
}

.checkbox .form-help {
	position: relative;
	margin-bottom: 1rem;
}

.form-radio .form-help {
	padding-top: 0.25rem;
	margin-top: -1rem;
}

.form-group input {
	height: 45px;
	line-height: 45px !important;
}

.form-group textarea {
	resize: none;
}

.form-group select {
	width: 100%;
	font-size: 1rem;
	height: 1.6rem;
	padding: 0.125rem 0.125rem 0.0625rem;
	background: none;
	border: none;
	line-height: 1.6;
	box-shadow: none;
}

.p-absolute {
	position: absolute;
}

.form-group .control-label {
	position: absolute;
	top: 0.25rem;
	pointer-events: none;
	padding-left: 0.125rem;
	z-index: 1;
	color: #000;
	font-size: 1rem;
	font-weight: normal;
	-webkit-transition: all 0.28s ease;
	transition: all 0.28s ease;
}

.form-group .bar {
	position: relative;
	border-bottom: 0.0625rem solid #999;
	display: block;
}

.form-group .bar::before {
	content: "";
	height: 0.125rem;
	width: 0;
	left: 50%;
	bottom: -0.0625rem;
	position: absolute;
	background: #337ab7;
	-webkit-transition: left 0.28s ease, width 0.28s ease;
	transition: left 0.28s ease, width 0.28s ease;
	z-index: 2;
}

.form-group input,
.form-group textarea {
	display: block;
	background: none;
	padding: 0.125rem 0.125rem 0.0625rem;
	font-size: 1rem;
	border-width: 0;
	border-color: transparent;
	line-height: 1.9;
	width: 100%;
	color: transparent;
	-webkit-transition: all 0.28s ease;
	transition: all 0.28s ease;
	box-shadow: none;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

/*.form-group input[type="file"] {
	  line-height: 1;
	}
	.form-group input[type="file"] ~ .bar {
	  display: none;
	}*/

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
	color: #333;
}

.form-group select~.control-label,
.form-group input:focus~.control-label,
.form-group input:valid~.control-label,
.form-group input.form-file~.control-label,
.form-group input.has-value~.control-label,
.form-group textarea:focus~.control-label,
.form-group textarea:valid~.control-label,
.form-group textarea.form-file~.control-label,
.form-group textarea.has-value~.control-label {
	font-size: 0.8rem;
	color: gray;
	top: -1rem;
	left: 0;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
	outline: none;
}

.form-group select:focus~.control-label,
.form-group input:focus~.control-label,
.form-group textarea:focus~.control-label {
	color: #337ab7;
}

.form-group select:focus~.bar::before,
.form-group input:focus~.bar::before,
.form-group textarea:focus~.bar::before {
	width: 100%;
	left: 0;
}

.checkbox label,
.form-radio label {
	position: relative;
	cursor: pointer;
	padding-left: 2rem;
	text-align: left;
	color: #333;
	display: block;
}

.checkbox input,
.form-radio input {
	width: auto;
	opacity: 0.00000001;
	position: absolute;
	left: 0;
}

.radio {
	margin-bottom: 1rem;
}

.radio .helper {
	position: absolute;
	top: -0.25rem;
	left: -0.25rem;
	cursor: pointer;
	display: block;
	font-size: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #999;
}

.radio .helper::before,
.radio .helper::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	margin: 0.25rem;
	width: 1rem;
	height: 1rem;
	-webkit-transition: -webkit-transform 0.28s ease;
	transition: -webkit-transform 0.28s ease;
	transition: transform 0.28s ease;
	transition: transform 0.28s ease, -webkit-transform 0.28s ease;
	border-radius: 50%;
	border: 0.125rem solid currentColor;
}

.radio .helper::after {
	-webkit-transform: scale(0);
	transform: scale(0);
	background-color: #337ab7;
	border-color: #337ab7;
}

.radio label:hover .helper {
	color: #337ab7;
}

.radio input:checked~.helper::after {
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}

.zoom {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	overflow: hidden;
}

.zoom:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*.home-event-box-02:hover .zoom, {
	  -webkit-transform: scale(1.1) rotate(2deg);
	  transform: scale(1.1)  rotate(2deg);
	}*/

.not-found {
	text-align: center;
	padding-top: 200px;
	min-height: 600px;

	.search-form {
		display: none;
	}
}

.rel {
	position: relative;
}

.page-title {
	color: #353535;
	margin: 0px;
	text-align: center;
	margin-bottom: 10px;
}

.shadow-hover {
	-webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0);
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0);
	transition: all 0.4s ease-out 0s;
	-moz-transition: all 0.4s ease-out 0s;
	-webkit-transition: all 0.4s ease-out 0s;
	-o-transition: all 0.4s ease-out 0s;

	&:hover {
		-webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
		box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
		transition: all 0.4s ease-out 0s;
		-moz-transition: all 0.4s ease-out 0s;
		-webkit-transition: all 0.4s ease-out 0s;
		-o-transition: all 0.4s ease-out 0s;
	}
}

.grid {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */

.grid figure {
	position: relative;
	width: 100%;
	float: left;
	overflow: hidden;
	margin: 0%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
	width: 100%;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

.grid figure figcaption>a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-bubba {
	overflow: hidden;
}

// figure.effect-bubba img {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
//     transition: opacity 0.35s, transform 0.35s;
// }
// .pro-list-ul li:hover img {
//     -webkit-transform: scale(1.1);
//     transform: scale(1.1);
// }
figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	content: "";
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #e4c27a;
	border-bottom: 1px solid #e4c27a;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #e4c27a;
	border-left: 1px solid #e4c27a;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
}

figure.effect-bubba h2 {
	padding-top: 30%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.pro-list-ul li:hover figcaption::before,
.pro-list-ul li:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.pro-list-ul li :hover h2,
.pro-list-ul li :hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/*---------------*/

/***** Romeo *****/

/*---------------*/

figure.effect-romeo {
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

figure.effect-romeo img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0, 0, 300px);
	transform: translate3d(0, 0, 300px);
}

figure.effect-romeo:hover img {
	opacity: 0.6;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect-romeo figcaption::before,
figure.effect-romeo figcaption::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 1px;
	background: #fff;
	content: "";
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

figure.effect-romeo:hover figcaption::before {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
	transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

figure.effect-romeo:hover figcaption::after {
	opacity: 0.5;
	-webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
	transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}

figure.effect-romeo h2,
figure.effect-romeo p {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-romeo h2 {
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, -150%, 0);
}

figure.effect-romeo p {
	padding: 0.25em 2em;
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, 150%, 0);
}

figure.effect-romeo:hover h2 {
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, -100%, 0);
}

figure.effect-romeo:hover p {
	-webkit-transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
	transform: translate3d(0, -50%, 0) translate3d(0, 100%, 0);
}

/*---------------*/

/***** Layla *****/

/*---------------*/

figure.effect-layla {
	background: #18a367;
}

figure.effect-layla img {
	height: 390px;
}

figure.effect-layla figcaption {
	padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: "";
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0, -30px, 0);
	transform: translate3d(0, -30px, 0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.bg-transarent {
	background: transparent !important;
}

.mob-margin-top {
	@media #{$media-820} {
		margin-top: 30px;
	}
}

.wpcf7-form.invalid .wpcf7-response-output {
	color: #d8000c;
	background-color: #ffbaba;
	border: 0;
	padding: 10px;
}

.wpcf7-form.sent .wpcf7-response-output {
	color: #4f8a10;
	background-color: #dff2bf;
	border: 0;
}

section:not(.map-sec,.tab-row-02,.over-fls) {

	@media #{$media-1440} {
		overflow-x: hidden;
	}
}

.pt-m-0 {
	@media #{$media-700} {
		padding-top: 0;
	}
}

.theme-pink {
	.nav-box>ul>li a {
		color: #f2cdd4;

		&:hover {
			color: #fff;
		}
	}

	.header-main .hed-icn {
		color: #f2cdd4;

		&:hover {
			color: #fff;
		}
	}

	.subscribe-box .subscrib-fld-box li .but-03 {
		background: #f2cdd4;

		&:hover {
			background: #fff;
		}
	}

	.subscribe-box .subscrib-fld-box {
		border-color: #f2cdd4;
	}

	.subscribe-box h3 {
		color: #f2cdd4;
	}

	.input-subscrib::-webkit-input-placeholder {
		/* Edge */
		color: #fff;
	}

	.input-subscrib:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #fff;
	}

	.input-subscrib::placeholder {
		color: #fff;
	}

	.input-subscrib::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: #f2cdd4;
		opacity: 1;
		/* Firefox */
	}

	.input-subscrib:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: #f2cdd4;
	}

	.input-subscrib::-ms-input-placeholder {
		/* Microsoft Edge */
		color: #f2cdd4;
	}

	.pink-logo {
		display: block;
	}

	.white-logo {
		display: none;
	}

	.swiper-button-prev,
	.swiper-button-next {
		background: #f2cdd4;

		&:hover {
			border-color: #ffffff;
			background: #ddaeb7;

			:after {
				color: #1e5e50;
			}
		}
	}

	.wish-icn {
		background: #f2cdd4;
	}

	.swiper-button-prev::after,
	.swiper-button-next::after {
		color: #1e5e50 !important;
	}
}

.error-404 {
	h1 {
		font-family: "Raleway", sans-serif;
		margin: 0 0 15px 0px;
	}

	h4 {
		font-family: "Raleway", sans-serif;
	}

	h3 {
		font-family: "Raleway", sans-serif;
	}

	.btn-primary {
		padding-top: 0;
		padding-bottom: 0;
		display: inline-flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin-top: 35px;
	}

	@media #{$media-600} {
		padding-left: 4%; padding-right: 4%;
	}
}

.top-align {
	align-items: flex-start;
}

.center-align {
	align-items: center;
}

.bottom-align {
	align-items: flex-end;
}

// --------------404---------------


.error404{
.banner-404{ min-height: 200px; background: #0974a3; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;
h1{ font-size: 45px; color: #fff; margin: 0; text-align: center;}
}

.cont-404{
ul{ margin: 0; padding: 0; margin-left: 15px;
	li{list-style: disc; margin-bottom: 15px; line-height:20px;}
}
}

h4{ margin: 0px 0px 20px 0px;}
h3{margin: 45px 0px 20px 0px;}
}