@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?971pey');
  src:  url('../fonts/icomoon.eot?971pey#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?971pey') format('truetype'),
    url('../fonts/icomoon.woff?971pey') format('woff'),
    url('../fonts/icomoon.svg?971pey#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
   font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
  content: "\f058";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-arrow-menu:before {
  content: "\e902";
 }
.icon-instagram-logo:before {
  content: "\e900";
}
.icon-arrow-1:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}










@font-face {
  font-family: 'proxima_novaextrabold';
  src: url('../fonts/proximanova-extrabold-webfont.eot');
  src: url('../fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/proximanova-extrabold-webfont.woff') format('woff'),
       url('../fonts/proximanova-extrabold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'proxima_novalight';
  src: url('../fonts/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-light-webfont.woff2') format('woff2'),
       url('../fonts/proximanova-light-webfont.woff') format('woff'),
       url('../fonts/proximanova-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'proxima_novaregular';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
       url('../fonts/proximanova-regular-webfont.woff') format('woff'),
       url('../fonts/proximanova-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-semibold-webfont.eot');
  src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
       url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
       url('../fonts/proximanova-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}










/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on April 18, 2023 */



@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-black-webfont.eot');
  src: url('../fonts/poppins-black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-black-webfont.woff') format('woff'),
       url('../fonts/poppins-black-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;

}




@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-bold-webfont.eot');
  src: url('../fonts/poppins-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-bold-webfont.woff') format('woff'),
       url('../fonts/poppins-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

}




@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-extrabold-webfont.eot');
  src: url('../fonts/poppins-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-extrabold-webfont.woff') format('woff'),
       url('../fonts/poppins-extrabold-webfont.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;

}




@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-extralight-webfont.eot');
  src: url('../fonts/poppins-extralight-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-extralight-webfont.woff') format('woff'),
       url('../fonts/poppins-extralight-webfont.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;

}




@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-light-webfont.eot');
  src: url('../fonts/poppins-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-light-webfont.woff') format('woff'),
       url('../fonts/poppins-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

}




@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-medium-webfont.eot');
  src: url('../fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-medium-webfont.woff') format('woff'),
       url('../fonts/poppins-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;

}




@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-regular-webfont.eot');
  src: url('../fonts/poppins-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-regular-webfont.woff') format('woff'),
       url('../fonts/poppins-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}




@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-semibold-webfont.eot');
  src: url('../fonts/poppins-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-semibold-webfont.woff') format('woff'),
       url('../fonts/poppins-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}




@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins-thin-webfont.eot');
  src: url('../fonts/poppins-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/poppins-thin-webfont.woff') format('woff'),
       url('../fonts/poppins-thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;

}



@font-face {
  font-family: 'nordamsbold';
  src: url('../fonts/nordams-bold-webfont.eot');
  src: url('../fonts/nordams-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/nordams-bold-webfont.woff2') format('woff2'),
       url('../fonts/nordams-bold-webfont.woff') format('woff'),
       url('../fonts/nordams-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}