.main-nav {
	position: relative; width: 100%;
}

.megamenu {
	position: absolute;
	z-index: 800;
	top: 65px;
	right: 0;
	background: #ededed;
	width: calc(100% - 75px);
	// visibility: hidden;
	// opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.35s ease-in-out, visibility 0.35s ease-in-out,
		transform 0.35s ease-in-out;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		a {
			display: block;
			color: #1e1e1e;
			text-decoration: none;
			text-transform: capitalize;
		}
	}
}

@media (min-width: 1025px) {
	.mega-submenu:hover .megamenu {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

 

.megamenu > ul > li {
	width: 50%;
	text-align: center;
	 
}

.megamenu > ul > li > a {
	padding: 23px 10px;
 
}

.megamenu > ul > li.active > a {
	color: #ffffff;
	background: #0974a3;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		width: 0;
		bottom: -8px;
		height: 0;
		border-width: 8px;
		border-style: solid;
		border-color: transparent #0974a3 #0974a3 transparent;
		margin: auto;
		transform: rotate(45deg);
		z-index: 99;
	}
}

.menu-tabs {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	// height: 350px;
	background: #ededed;
	display: none;
}

.active .menu-tabs {
	display: block;
}

.menu-tabs > ul {
	padding: 40px 0 60px 0;
	position: relative;
}

.menu-tabs > ul > li {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: left;
	padding-left: 50px;
}

.menu-tabs > ul > li + li {
	margin-top: 20px;
}

.menu-tabs > ul > li.change > a {
	color: #0974a3;
}

.menu-tabs > ul > li > a {
	--space: 40%;
	width: var(--space);
	font-size: 20px;
	&:hover {
		color: #0974a3;
	}

	@media #{$media-600} {
		width: 100%;
	}
}

.menu-tabs .menu-tab-right-outer {
	width: 60%;
	padding: 0 0 0 40px;
	border-left: 1px solid #e0e0e0;
	position: absolute;
	top: 40px;
	left: 40%;
	display: none;
}

.menu-tabs .change .menu-tab-right-outer {
	display: block;
}

.menu-tabs .menu-tab-right {
	display: flex;
	row-gap: 14px;
	justify-content: flex-start;
	li {
		margin: 0 6px;
	}
	a {
		padding: 19px 22px;
		background: #ffffff;
		-moz-border-radius: 100px;
		-webkit-border-radius: 100px;
		border-radius: 100px;
		&:hover {
			color: #ffffff;
			background: #0974a3;
		}
	}
	.active a {
		color: #ffffff;
		background: #0974a3;
	}
}

@media (max-width: 1200px) {
	.megamenu {
		position: initial;
		width: 100%;
		display: none;
		background: #ffffff;
		visibility: visible;
		opacity: 1;
		transform: initial;
	}
	// .menu-tabs {
	// 	background: #f8f8f8;
	// }
	.megamenu > ul > li {
		width: auto;
	}
	.megamenu > ul > li > a {
		padding: 10px 10px;
		font-size:20px;
	}
	.menu-tabs {
		position: initial;
	}
	.megamenu > ul {
		padding: 0;
		flex-direction: column;
		justify-content: center;
	}
	.menu-tabs .menu-tab-right-outer {
		position: initial;
		width: 100%;
		padding: 0;
		border: none;
	}
	.menu-tabs .menu-tab-right a {
		font-size: 14px;
		padding: 10px;
	}
	.menu-tabs > ul > li {
		padding-left: 0;
		justify-content: center;
	}
	// .menu-tabs > ul > li > a {
	// 	width: 100%;
	// }
	.menu-tabs > ul > li > a {
		text-align: center;
		font-size: 14px;
	}
	.menu-tabs .change .menu-tab-right-outer {
		display: none;
	}
	.active .menu-tabs {
		display: none;
	}
	.megamenu > ul > li.active > a::after {
		display: none;
	}
	.megamenu > ul > li.active > a {
		color: #1e1e1e;
		background: transparent;
	}
	.menu-tabs > ul {
		padding: 0;
	}
	// .main-nav > ul > li > a {
	// 	font-size:25px;
	// }
	.menu-tabs > ul > li + li {
		margin-top: 0;
	}
	.menu-tabs .menu-tab-right a {
		background: transparent;
	}
	.menu-tabs .menu-tab-right {
		row-gap: 0;
	}
	// .main-nav .fl,
	// .main-nav > ul > li > a {
	// 	line-height: 1;
	// }
	.main-nav .fl .icon-arrow-menu {
		top: 0;
	}
}

// ------------new------------

.icon-arrow-menu{
	@media (max-width: 1199px) {
		font-size: 15px !important;
	}
}
.megamenu{
ul{
	li{
		@media (max-width: 1200px) {
			 opacity: 1;
		}
	}
}
}


// .....................................new...................


#ChildVerticalTab_1 a{ text-decoration: none; color: #1e1e1e;}
#ChildVerticalTab_1 a:hover{ color:#0974a3  ;}

.menu-pannel{
	// display: none;
	@media #{$media-1200-min} {

	width:869px; position: absolute; z-index: 800; left: -50%; border-top: solid 1px #2885ad ;
	.resp-tabs-list li{ width: 50%; margin: 0;}


	#ChildVerticalTab_1{
		u{ margin-top: 0 !important;
			li{width: 100%; }
		}
	}
	#ChildVerticalTab_1  .resp-tabs-list{margin-top: 0 !important;  
		li{ width: 100%; border: none !important; background: transparent !important; font-size: 20px; font-weight: 400; color: #1e1e1e;
		
			&:hover{
				color: #0974a3 !important;
			}
		}
	}

	#ChildVerticalTab_1 li.resp-tab-active{ margin: 0 !important; padding:15px 15px !important; color: #0974a3 !important;
		a{ color: #0974a3 !important;}
	}
	.resp-tab-active{border: none !important;}

	.resp-tab-content{  border: none !important;  }
	.horaa_1{
		> .resp-tab-item{ position: relative; font-size: 14px; font-weight: 400; color: #1e1e1e; background: #f8f8f8; text-align: center; padding-top:  0px !important; padding-bottom:  0px !important; height: 60px; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;
			&.resp-tab-active{background: #0974a3; color: #fff !important;
			
			
				&:after{
					position: absolute;
					bottom: -10px;
					left:50%;
					margin-left: -10px;
					content:"";
					display:block;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-top: 10px solid #0974a3; 
				  }
			
			}

			&:hover{
				background: #0974a3; color: #fff ;
				&:after{
					position: absolute;
					bottom: -10px;
					left:50%;
					margin-left: -10px;
					content:"";
					display:block;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-top: 10px solid #0974a3; 
				  }	
			}
		}
	}



	// .arrow-bottom:after{
	// 	position: absolute;
	// 	bottom: -10px;
	// 	left:50%;
	// 	margin-left: -10px;
	// 	content:"";
	// 	display:block;
	// 	border-left: 10px solid transparent;
	// 	border-right: 10px solid transparent;
	// 	border-top: 10px solid $green; 
	//   }


	.resp-tabs-container{ border: none  ;}
	.resp-tab-content{ background: #ededed;}



	.menu-tab-ul {
		margin-left: -6px;
		margin-right: -6px;
		display: flex;
		row-gap: 14px;
		justify-content: flex-start;
		li {
			margin: 0 6px; list-style: none;
		}
		a {
			padding: 19px 22px;
			background: #ffffff;
			text-decoration: none;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
			display: flex; 
			flex-wrap: wrap;
			&:hover {
				color: #ffffff !important;
				background: #0974a3;
			}
		}
		.active a {
			color: #ffffff !important;
			background: #0974a3;
		}
	}




	.resp-tabs-list{float: none;}
	#ChildVerticalTab_1{display: flex !important; align-items: flex-start; flex-wrap: wrap;}



	 #ChildVerticalTab_1{
		.resp-tabs-container{ border-left: solid 1px #e0e0e0  ; background: #ededed; border-left-color:#e0e0e0 !important ;}
	 }



	 #ChildVerticalTab_1{ display: flex; flex-wrap: wrap;
		.resp-tabs-list{width:33%;}
		.resp-tabs-container { width: 67%; padding-left:4%;}
	 }
}

.resp-tab-content{     padding: 25px 7%;}

.acc_content{
	@media #{$media-820} {
		padding-left: 0% !important;
		padding-right: 0% !important;
	}
}

@media #{$media-1800} {
	left: -140%;     width: 800px;
 
 
}


}

.resp-vtabs{
	h2{ font-size:30px; margin: 0; width: 100%; margin-bottom: 10px;}
}
.services-menu{
	.resp-tabs-container{
	width: 100% !important;
	padding-left: 0% !important;
	border-left: none !important;
}
}

.ChildVerticalTab_1{
	.resp-tab-content{padding: 0;}
}


.menu-desk{
	@media #{$media-1199} {
		display: none;
	}
}

.menu-mobile{
	@media #{$media-1200-min} {
	display: none !important;
}
}



.menu-mobile{
	display: none  ;

	// @media #{$media-1200} {
	// 	display: block;
	// }

	h3{     font-size: 20px; font-weight:400; color: #1e1e1e;}

	.accordionjs .acc_section{border: none;}
	.accordionjs{margin: 0;}

	.demo-accordion{background: #f9f9f9; padding-top: 10px; padding-bottom: 10px; margin-top: 10px; margin-bottom: 10px;}
	.accordionjs .acc_section .acc_head{background: none;}
	.accordionjs .acc_section .acc_head{padding-top: 5px; padding-bottom: 5px;}

	 .demo-accordion .demo-accordion{margin-top: 0; margin-bottom: 0; padding: 0;}
	 .demo-accordion .demo-accordion h3{     font-size: 18px;}


}


.menu-tab-ul-mob{

	margin: 0; padding: 0;

	li{list-style: none;
		a{ font-size: 14px !important; text-decoration: none;}
	}
}