.inner-banner-03 {
	text-align: left;
	.container {
		min-height: 482px;
		display: flex;
		align-items: flex-end;
		.banner-title-box {
			justify-content: flex-start;
			.title-line {
				height: 2px;
				background: #0974a3;
				display: inline-flex;
				width: 165px;
				margin-top: 20px;
			}
			padding-bottom: 60px;
		}
	}
}

.breadcrumbs {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	li {
		color: #787878;
		a {
			color: #1e1e1e;
			font-size: 14px;
			position: relative;
			text-decoration: none;
			&::after {
				content: ">";
				position: absolute;
				right: -17px;
				width: 10px;
				height: 10px;
			}
			&:hover {
				color: #0974a3;
			}

			@media #{$media-820} {
				font-size: 11px;
			}
		}
		@media #{$media-820} {
			font-size: 11px; margin-bottom: 5px;
		}

	}

	li + li {
		margin-left: 20px;
	}
}

.product-list-block .owl-nav {
	background: #ffffff;
	top: -114px;
	right: 0;
	bottom: auto;
	left: auto;
}

.single-details {
	display: flex;
	flex-wrap: wrap;
	 
	position: relative;
	z-index: 0;
	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: -1;
		width: 297px;
		height: 217px;
		border-right: 2px solid #0974a3;
		border-bottom: 2px solid #0974a3;
	}
	.left-side {
		width: 40%;
		background: rgba(0, 0, 0, 0.03);
		 
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 100px 3%;
		@media #{$media-600} {
			padding: 40px 3%;
		}
		img {
			mix-blend-mode: color;
		}

		@media #{$media-600} {
			width: 100%; margin-bottom: 20px;
		}
	}
	.right-side {
		width: 60%;
		padding: 0 5% 0 10%;
		.brand {
			color: #0974a3;
			font-size: 18px;
			margin-bottom: 10px;
			display: block;
		}
		h2 {
			margin-bottom: 5px;
		}
		.gram {
			font-size: 14px;
			color: #787878;
			margin-bottom: 40px;
			display: block;

			@media #{$media-600} {
				margin-bottom: 16px;
			}
		}

		@media #{$media-820} {   padding: 0 5% 0 6%;;}
		@media #{$media-600} { width: 100%; padding-left: 0; padding-right:5%;}
	}
}

.related-product {
	h2 {
		margin-bottom: 0px;
	}
	.product-list-block {
		li {
			padding: 20px;
		}
		.owl-item.center li {
			background: url(../images/borer-y.png) repeat-y left bottom,
				url(../images/borer-y.png) repeat-y right bottom;
		}
	}
}

.view-options {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top:-19px;
	width: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: 0.35s ease-in-out opacity, 0.35s ease-in-out visibility;
	li {
		padding: 0 !important;
		a {
			line-height: 1;
			width: 36px;
			height: 36px;
			box-shadow: 0px 3px 6.72px 1.28px rgba(0, 0, 0, 0.23);
			display: flex;
			align-items: center;
			justify-content: center;
			background: #ffffff;
			border: 1px solid rgb(235, 233, 233);
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			img {
				width:17px !important;
			}
		}

		& + li {
			margin-left: 8px;
		}
	}

	 
}

.product-list-block {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.product-list-block > li {
	width: 33.33%;
	padding: 30px 2%;
	background: url(../images/borer-y.png) repeat-y right bottom;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 3px;
		background: url(../images/border-li.png) repeat-x right bottom;
	}



	@media #{$media-600} {
		width: 49.33%;
	}


	@media #{$media-480} {
		width: 100%;
	}
}

.product-list-block > li:nth-child(3n) {
	background: none;

	@media #{$media-600} {
		background: url(../images/borer-y.png) repeat-y right bottom;
	}

}


.product-list-block > li:nth-child(2n) {
	@media #{$media-600} {
	background: none;
	}
}

.product-list-block > li:nth-child(1n) {
	@media #{$media-480} {
	background: none;
	}
}



.product-list-block > li:nth-last-child(-n + 3)::after {
	display: none;

	@media #{$media-600} {
		display: block;

	}
}

.product-item {
	overflow: hidden;
	background: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	transition: box-shadow 0.2s ease-in-out;
	&:hover {
		box-shadow: 0px 27px 34.96px 11.04px rgba(0, 0, 0, 0.16);
	}
	.content {
		padding: 35px 11% 30px 11%; position: relative;
		transition: background 0.2s ease-in-out;

		// @media #{$media-820} {    padding: 10px 10%;}





		h3 {
			color: #ffffff;
			font-size: 18px;
			margin-bottom: 20px;
			font-weight: 400;

			@media #{$media-820} {
				margin-bottom:15px;  margin-top: 6px;   font-size: 15px;
			}

			@media #{$media-600} {
				font-size: 15px; margin-bottom: 10px;
			}
		}
		a {
			text-decoration: none;
			&:hover {
				color: #0974a3;
			}
		}

		@media #{$media-820} {
			padding:25px 7% 20px 7%;
		}
		@media #{$media-600} {
			text-align: center;
			padding:15px 7% 15px 7%;
		}
	}
	.image {
		  height:192px;
		a {
			display: block;
			text-align: center; height: 100%; width: 100%;
		}
		img {
			 
			 
			margin: auto;
		}
	}

	p{margin-bottom: 0;}
}

.product-item:hover .content h3 a {
	color: #ffffff;
}

.product-item:hover .content p {
	color: #ffffff !important;
}

.product-item:hover .content {
	background: #38405f;
}

.product-item:hover .view-options {
	opacity: 1;
	visibility: visible;

	
}

.blue-text-border {
	.count-box {
		padding-left: 70px;
		p {
			height: 100%;
			margin: 0;
			
		}
.txt-block{
	border-bottom: 2px solid #38405f; height: 100%;

	@media #{$media-820} { padding-bottom: 25px;}

	 
}
		
	}
}

// .page-template-html-parasite-control-details .header-main {
	
// }


.border-top{
	border-top: 2px solid #0974a3;
}


.swiper-rel{
	position: relative;
	.product-item .content p{ color: #1e1e1e;}
	.product-list-block{ flex-wrap: unset;}
	.product-list-block > li::after{display: none;}
	.product-list-block li{padding-bottom:35px;}
	.product-item:hover {
		box-shadow: 0px 27px 34.96px -22.96px rgba(0, 0, 0, 0.16);
	}

	.product-list-block > li:nth-child(3n){ background: url(../images/borer-y.png) repeat-y right bottom;
	
		@media #{$media-600} {
			background: none;
		}
	
	}
	 .product-list-block li{padding-left: 0; padding-right: 0;}
	 .product-item{margin-left: 5%; margin-right: 5%;}

	 li{
		&.swiper-slide{
			// background-image: none;
			// background: url(../images/borer-y.png) repeat-y right bottom;

			//& > ::after{ position: absolute; width: 1px; background: #0974a3; height: 100%; content: ""; display: block;}
			 
		}
	 }

	 &::after{ content:""; display: block; width: 2px; height: 100%; background: #fff; position: absolute;right: 0; bottom: 0; z-index: 100;}
}

.title-row-02{ display: flex; flex-wrap: wrap; align-items: center;
	h2{margin-right: auto;
		@media #{$media-480} {
			width:75%;
		}
	
	}
	.slider-nav{margin-left: auto; width: auto; align-items: center;
	
	 
	}

	
}

.but-style-02{padding-right:50px !important; padding-left: 50px !important;}

 