/*-----------ifza cares------------*/
.content-sec-5 {
  padding: 150px 0px 120px;
}

.content-sec-5 {
  text-align: center;
}

.content-sec-5 {
  max-width: 1240px;
  margin: 0 auto;
}

.content-sec-5 h4 {
  margin-bottom: 0px;
  line-height: 28px;
}

.page-template-ifza-cares .text-image-list-sec {
  padding: 0px;
}

.page-template-ifza-cares .text-image-list-image {
  height: 420px;
}

.page-template-ifza-cares .text-image-list-content p:last-child {
  margin-bottom: 0px;
}

.content-sec-6 {
  padding: 180px 0px 120px;
}

.content-sec-6 h2 {
  margin-bottom: 40px;
}

.content-sec-6 .text-over-image-listing li figure figcaption p {
  min-height: 132px;
}

.content-sec-6 .text-over-image-listing li:nth-of-type(2):after,
.content-sec-6 .text-over-image-listing li:nth-of-type(3):after {
  content: none;
}

.content-sec-6 .text-over-image-listing li:nth-of-type(5):after {
  left: unset;
  right: -8px;
}

.video-slider-sec {
  padding-bottom: 160px;
  position: relative;
}

.video-slider-sec:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 650px;
  background: #F3F4F5;
  z-index: -1;
}

.video-slider-sec h3 {
  margin-bottom: 40px;
  line-height: 34px;
}

.video-slide-area figure {
  margin-bottom: 0px;
  height: 396px;
  position: relative;
}

.video-slide-area figure picture {
  overflow: hidden;
  display: block;
}

.video-slide-area figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform: 0.35s;
  transition: transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.video-slide-area figure:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.20);
  z-index: 1;
}

.video-slide-area figure:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -6px;
  width: 90%;
  background: #CDA72C;
  height: 80px;
  z-index: -1;
}

.video-slide-area figure figcaption {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
  height:100%;
}
.video-slide-area figure figcaption a{
  display: block;
  width:100%;
  height:100%;
}
.video-slide-area figure figcaption i {
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/play-svg.svg);
    width: 50px;
    height: 50px;
    background-size: 50px;
    filter: invert(100%);
}

.video-slide-area figure:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.video-slide-content {
  padding:35px 0px 20px;
  min-height: 180px;
}

.video-slide-content p {
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 0px;
}

#video-slider .glide__slides .glide__slide {
  position: relative;
}

#video-slider .glide__slides .glide__slide:before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #000;
}

.glide__arrow {
  width: 58px;
  height: 58px;
  background: #21201F;
  cursor: pointer;
  border: 0px;
}

.glide__arrow i {
  color: #fff;
  font-size: 16px;
}

.glide__arrow:focus {
  background: #E0E1E2;
}

#video-slider {
  padding-bottom: 5px;
  overflow: hidden;
}
#video-slider .glide__track{
    border-bottom: 1px solid #000;
}
#video-slider .glide__track,
#video-slider .glide__slides {
  overflow: visible;
}

#video-slider .glide__arrows{
  margin-top: 50px;
}

.video-slide-area {
  margin-right: 20px;
}

.page-template-ifza-cares .bottom-banner figure {
  height: 550px;
}

.page-template-ifza-cares .bottom-banner-inner p {
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  font-family: 'TT Firs Neue';
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}

.page-template-ifza-cares .bottom-banner-inner {
  max-width: 735px;
}

.page-template-ifza-cares .bottom-banner-inner p:before {
  position: absolute;
  content: "";
  top: -38px;
  left: -20px;
  width: 119px;
  height: 69px;
  background: url(../images/quotes-clr.png) no-repeat;
  z-index: -1;
}

.bottom-banner-inner span {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: 'TT Firs Neue';
  position: relative;
}
.bottom-banner-inner span small{ font-size:14px; }

.bottom-banner-inner span:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -110px;
  transform: translateY(-50%);
  width: 80px;
  height: 2px;
  background: #CDA72C;
}

/*-----------Media Queries----------*/

@media only screen and (max-width:1450px) {

  .content-sec-5,
  .content-sec-6 {
    padding:100px 0px;
  }

  .video-slider-sec {
    padding-bottom: 75px;
  }

  .page-template-ifza-cares .bottom-banner figure {
    height: 450px;
  }

  .page-template-ifza-cares .bottom-banner-inner p {
    font-size: 20px;
    line-height: 28px;
  }

  .video-slide-area figure {
    height: 310px;
  }

  .video-slide-content p {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width:1199px) {
  .video-slide-content p br {
    display: none;
  }
  .video-slide-content{
      min-height:190px;
  }
}

@media only screen and (max-width:991px) {
   .content-sec-5,
   .content-sec-6 {
     padding: 80px 0px;
   }
   .video-slider-sec {
    padding-bottom:80px;
  }
  .page-template-ifza-cares .text-image-list-image {
    height: 400px;
  }

  .video-slide-area figure {
    height: 250px;
  }

  .video-slider-sec::after {
    height: 400px;
  }

  .page-template-ifza-cares .bottom-banner figure {
    height: 400px;
  }

  .page-template-ifza-cares .bottom-banner figure img {
    object-position: 70%;
  }

  .content-sec-6 .text-over-image-listing li figure figcaption p {
    min-height: auto;
  }
}

@media only screen and (max-width:767px) {

  .page-template-ifza-cares .text-image-list-image {
    height: 330px;
  }

  .content-sec-6 h2 {
    margin-bottom: 20px;
  }

  .text-over-image-listing li figure figcaption {
    padding: 0px 20px;
    bottom: 20px;
  }

  .text-over-image-listing {
    row-gap: 15px;
  }

  .video-slider-sec h3 {
    margin-bottom: 20px;
    line-height: 25px;
  }
  .video-slider-sec h3,
  #video-slider{
      padding-left:10px;
  }

  .page-template-ifza-cares .bottom-banner-inner p {
    font-size: 18px;
    line-height: 25px;
  }

  .bottom-banner-inner span {
    font-size: 16px;
  }

  .video-slider-sec {
    padding-top: 20px;
  }
    
  .bottom-banner-inner span:after {
    right: -75px;
    width: 55px;
  }

  .content-sec-5 h4 {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    text-align:left;
  }
}
@media only screen and (max-width:640px){
  .video-slide-content{
    min-height:215px;
  }
  .video-slide-area figure figcaption i{
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
  .page-template-ifza-cares .letter-text-content{
      margin-top:-60px;
  }
}