/*-----------Leaders------------*/
.page-template-leaders .header {
  background: #fff;
  border-color: #E0E1E2;
}

.page-template-leaders .header-main-menu li a {
  color: #000;
}

.page-template-leaders .header-main-menu li.menu-item-has-children>a:after {
  border-bottom: 2px solid #BCBCBC;
  border-right: 2px solid #BCBCBC;
}

.page-template-leaders .lang-area-select {
  border-color: #000;
}

.page-template-leaders .lang-area-select .nice-select span {
  color: #000;
}

.page-template-leaders .lang-area-select .nice-select:after {
  border-top: 6px solid #000;
}

.page-template-leaders .logo-clr {
  opacity: 1;
  visibility: visible;
  display: block;
}

.page-template-leaders .logo-white {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.content-sec-12 {
  padding: 270px 0px 120px;
  background: #fff;
}

.content-sec-12-inner {
  max-width: 710px;
  margin-bottom: 90px;
}

.content-sec-12-inner h1 {
  margin-bottom: 15px;
}

.content-sec-12-inner p {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 28px;
}

.team-member-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
}

.team-member-list li {
  width: 22.5%;
  margin-left: 3.33%;
  position: relative;
  padding-bottom: 20px;
}

.team-member-list li:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 80px;
  height: 2px;
  background: #D1A915;
}

.team-member-list li:nth-child(4n+1) {
  margin-left: 0px;
}

.team-member-image-box {
  margin-bottom: 0px;
  width: 100%;
}

.team-member-image-box picture {
  margin-bottom: 20px;
  height: 360px;
  width: 100%;
  display: block;
}

.team-member-image-box picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-member-image-box figcaption h5 {
  line-height: 26px;
  font-weight: 300;
  margin-bottom: 10px;
}

.team-member-image-box figcaption span {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  line-height: normal;
}

.content-sec-13 {
  background: #F1F1F1;
  padding: 120px 0px;
}

.content-sec-13-inner {
  max-width: 820px;
  margin: 0 auto 90px;
}

.content-sec-13-inner h2 {
  text-align: center;
  margin-bottom: 15px;
}

.content-sec-13-inner p {
  text-align: center;
  margin-bottom: 0px;
}

.testimonials-listing {
  display: flex;
  flex-wrap: wrap;
  row-gap: 45px;
}

.testimonials-listing li {
  width: 49%;
  margin-left: 2%;
}

.testimonials-listing li:nth-child(2n+1) {
  margin-left: 0px;
}

.testimonial-image-box {
  overflow: hidden;
  position: relative;
}

.testimonial-image-box a {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;

}

.testimonial-image-box a i {
  position: absolute;
  color: #fff;
  font-size: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/play-svg.svg);
  width: 50px;
height: 50px;
background-size: 50px;
filter: invert(100%);
}

.testimonial-image-box figure {
  margin-bottom: 0px;
  height: 396px;
  width: 100%;
  position: relative;
}

.testimonial-image-box figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transform: 0.35s;
  transition: transform 0.35s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.testimonial-image-box:hover figure img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.testimonial-image-box figure:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.20);
  z-index: 1;
}

.testimonial-content-box {
  padding: 22px 0 18px;
  position: relative;
}
.testimonial-content-box::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 80px;
  height: 2px;
  background: #D1A915;
}
.testimonial-content-box h5{
    margin-bottom:8px;
    line-height: 26px;
    font-weight: 300;
}
.testimonial-content-box h4 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: normal;
  margin-bottom: 15px;
}

.testimonial-content-box p {
  font-size: 18px;
  line-height:24px;
  margin-bottom: 0px;
text-transform: uppercase;

}

.load-more-btn {
  display: block;
  margin: 90px auto 0px;
  width: 265px;
  height: 60px;
  line-height: 60px;
  background: #fff;
  font-size: 16px;
  text-transform: uppercase;
  color: #21201F;
  font-weight: 200;
  text-align: center;
  border: 1px solid #D8D8D8;
}

.load-more-btn:hover {
  background-color: #D1A915;
  color: #fff;
}

/*-----------Media Queries----------*/
@media only screen and (max-width:1450px) {
    .content-sec-12{
        padding:190px 0px 100px;
    }

  .content-sec-13 {
    padding:100px 0px;
  }

  .content-sec-12-inner h1 {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 35px;
  }

  .content-sec-12-inner p {
    font-size: 18px;
    line-height: 25px;
  }

  .team-member-image-box figcaption h5 {
    line-height: 22px;
    font-size: 20px;
  }

  .team-member-image-box figcaption span {
    font-size: 16px;
  }

  .team-member-list li {
    padding-bottom: 15px;
  }

  .team-member-list {
    row-gap: 40px;
  }
  .team-member-list li{
      width:23.5%;
      margin-left:2%;
  }
  .team-member-image-box picture{
      height:285px;
  }
  .testimonial-content-box h5{ font-size: 20px;line-height: 22px; }
  .testimonial-content-box p{
    font-size: 16px;
  }
  .testimonial-content-box::after { bottom: 7px;}
}

@media only screen and (max-width:1366px) {
  .team-member-list li {
    width: 23.5%;
    margin-left: 2%;
  }

  .content-sec-12{
      padding:150px 0px 80px;
  }
  .content-sec-13-inner {
    margin: 0 auto 50px;
  }

  .testimonial-content-box h5 {
    font-size: 20px;
    line-height: 22px;
  }

  .testimonial-content-box {
    padding-top: 20px;
  }

  .load-more-btn {
    margin: 55px auto 0px;
  }
}

@media only screen and (max-width:1280px) {
  .testimonial-image-box figure {
    height: 350px;
  }
   .content-sec-12-inner {
    margin-bottom:45px;
  }

  .testimonial-content-box p {
    font-size: 18px;
    line-height: 24px;
  }

  .content-sec-12-inner {
    max-width: 100%;
  }

  .load-more-btn {
    width: 260px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
  }
}

@media only screen and (max-width:1200px) {
  .team-member-list li {
    width: 32%;
    margin-left: 2%;
  }

  .team-member-list li:nth-child(4n+1) {
    margin-left: 2%;
  }

  .team-member-list li:nth-child(3n+1) {
    margin-left: 0;
  }

  .team-member-image-box picture {
    margin-bottom: 15px;
    height: 320px;
  }

  .content-sec-13-inner {
    margin: 0 auto 40px;
  }

}

@media only screen and (max-width:1000px) {
  .content-sec-13-inner {
    margin: 0 auto 25px;
  }
}

@media only screen and (max-width:991px){
    .content-sec-12{
        padding-top:130px;
    }
    .content-sec-13 {
        padding:80px 0px;
    }
}
@media only screen and (max-width:767px) {
  .team-member-list li {
    width: 49%;
  }

  .team-member-list li:nth-child(3n+1) {
    margin-left: 2%;
  }

  .team-member-list li:nth-child(2n+1) {
    margin-left: 0px;
  }

  .team-member-image-box picture {
    height: 280px;
  }

  .content-sec-12-inner {
    margin-bottom: 25px;
  }

  .team-member-image-box figcaption h5 {
    line-height: 20px;
    font-size: 18px;
  }

  .team-member-image-box figcaption span {
    font-size: 14px;
  }

  .team-member-list {
    row-gap: 35px;
  }

  .content-sec-12-inner h1 {
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 28px;
  }

  .content-sec-12{
      padding:120px 0px 80px;
  }
  .content-sec-13-inner h2 {
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 28px;
  }

  .testimonial-image-box figure {
    height: 240px;
  }

  .testimonial-content-box {
    padding-top: 15px;
  }

  .testimonial-content-box h5 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .testimonial-content-box p{
      font-size: 14px;
  }
  .testimonial-image-box a i{
    width: 30px;
    height: 30px;
    background-size: 30px;
  }
  .content-sec-13-inner h2,
  .content-sec-13-inner p{
      text-align:left;
  }

}

@media only screen and (max-width:500px) {
  .team-member-image-box picture {
    height: 210px;
  }

  .testimonial-image-box figure {
    height: 200px;
  }

  .team-member-image-box figcaption h5 {
    line-height: 20px;
    font-size: 16px;
  }

  .testimonials-listing {
    row-gap: 35px;
  }

  .testimonial-content-box p {
    font-size: 14px;
    line-height: 20px;
  }

  .testimonial-image-box a i {
    font-size: 28px;
  }

  .load-more-btn {
    margin: 40px auto 0px;
  }

  .testimonials-listing li {
    width: 100%;
    margin-left: 0;
  }

  .content-sec-13-inner {
    margin: 0 auto 20px;
  }

}