.about_section_01{ width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between;  

    .about_sectioncl_01{ width: 50%;
    
        @media screen and (max-width:700px) {
            width: 100%;
        }
    
    }
    .about_sectioncl_02{ width: 34%; padding-top: 130px;
    
    h5{   font-size: 20px; font-weight: 500;  color: #fff; line-height: 130%;  max-width: 85%; margin: 0; margin-bottom:15px; font-family: 'RB';  }
    p{  font-size: 16px; color: #fff; line-height: 130%; font-weight: 300; font-family: 'RB'; margin: 0; }   
    
.btn_transparent{ margin-top:35px;}


        @media screen and (max-width: 800px) {
            width: 48%; 
        }


        @media screen and (max-width:700px) {
            width: 100%;
            padding-top: 0px;
        }

}
}

.about_section{  
	position: relative; overflow: hidden;
	background: linear-gradient(241.85deg, #A2C856 0.59%, #699A47 35.38%, #136B37 70.18%);

	background-size: cover;
	
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
        background: url('../images/about-bg.png') no-repeat center center;
		
		z-index: 1;
	}
	
	.wrap {
		position: relative;
		z-index: 2;
	}
}


.about_sectioncl_01{
    h1{
        @include px-rem(50); color: #fff; line-height: 120%;
        span{ font-weight: 200;}


        @media screen and (max-width:700px) {
            @include px-rem(100);
        }
    }
}








.lable_text{ display: flex; flex-wrap: wrap; align-items: center;  gap: 10px; color: #fff; font-size: 18px; font-weight:400; padding-bottom: 40px; @media (max-width: 700px) { padding-bottom: 0px;}}



.about_4_cl_blocks { margin: 0 -0.5%; display: flex; flex-wrap: wrap; padding: 0; margin-top: 80px;
    li{ list-style: none; width: 25%; padding: 0 0.5%;
.about_4_cl_blocks_item_01{  background: #F5F9EE; padding:11%;



    .text_cl_01{ 
        margin-bottom: 80px;
    h3{ margin: 0; padding: 0; @include px-rem(45); font-weight: 500;  line-height: 100%;
        background: linear-gradient(
            241.85deg,
            rgba(162, 200, 86, 1) 7.448773086071014%,
            rgba(105, 154, 71, 1) 37.04043626785278%,
            rgba(19, 107, 55, 1) 70.00691890716553%
          );
          width: max-content;
          
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @media screen and (max-width:700px) {
            @include px-rem(90);
          }
    }

    p{ margin: 0; padding: 0; font-weight: 400;   background: linear-gradient(
        241.85deg,
        rgba(162, 200, 86, 1) 7.448773086071014%,
        rgba(105, 154, 71, 1) 37.04043626785278%,
        rgba(19, 107, 55, 1) 70.00691890716553%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    
    
      @media screen and (max-width:700px) {
        @include px-rem(50);
      }
    
    }


        @media screen and (max-width: 800px) {
            margin-bottom: 40px;
        }


    }
            }



            .about_4_cl_blocks_item_02{
                p{ font-size: 16px; color: #000; line-height: 130%; font-weight: 300; font-family: 'RB'; margin: 0; }
            }



            @media screen and (max-width: 800px) {

                width: 50%; margin-top:10px;
            }

            @media screen and (max-width:700px) {

                width: 100%; margin-top:10px;
            }
    }

    


}

.about_4_cl_blocks_swipper{   flex-wrap: unset; 


}


.about_4_cl_swiper{
    @media screen and (max-width: 700px) {
        overflow: visible;
    }
}