.ready_to_partner_section {
	 
	position: relative;
	 min-height: 525px;
	background-size: cover; display: flex; flex-wrap: wrap; align-items: center;  

    &::after{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    
        // Default gradient
        background: linear-gradient(
            241.46deg,
            rgba(162, 200, 86, 0.5) 0%,
            rgba(105, 154, 71, 0.5) 48.000770807266235%,
            rgba(19, 107, 55, 0.5) 77.33049988746643%
          );
    }
    
    // Dark gradient when .dark class is present on the section
    &.dark {
        &::after {
            background: linear-gradient(241.46deg, rgba(162, 200, 86, 0.5) 2.13%, rgba(105, 154, 71, 0.5) 49.11%, rgba(19, 107, 55, 0.5) 77.81%),
                        linear-gradient(90deg, #0D6A37 11.07%, rgba(13, 106, 55, 0) 30.16%);
        }
    }

    .subtitle_span {
        font-weight: 300;
    }

    .wrap{ position: relative; z-index: 10;}
    h3{ margin-bottom:15px;}
    p{ color: #fff; font-size: 16px;font-weight: 300;  line-height: 130%; margin: 0;  max-width:40%; margin-bottom: 20px;
    
        @media screen and (max-width: 800px) {
            max-width:60%
        }

        @media screen and (max-width:700px) {
            max-width:100%
        }
    }


    @media screen and (max-width: 700px) {
        
    align-items: flex-end; padding:5%;
    }

    @media screen and (max-width: 700px) {
        min-height:600px;
    }
}
