.core_values_section {
	background: #f7f9fb;
}

.core_values_header {
	 width:50%;
     max-width: 95%;

	.h3_title_50 {
		margin-bottom: 20px;
	}

	.core_values_desc {
		margin: 0;
		color: #101922;
		line-height:1.6;
		font-size: 25px;
		font-weight: 400;
		max-width: 80%;

		@media screen and (max-width: 820px) {
			  font-size: 18px;
		}
		@media screen and (max-width: 700px) {
			max-width: 100%; font-size: 15px;
		}
	}

	@media screen and (max-width: 700px) {
		width: 100%;
		max-width: 100%;
	}
}

.core_values_list {
	list-style: none;
	width: 50%;
	margin: 0;
	padding: 0;
 

	@media screen and (max-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media screen and (max-width: 900px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (max-width: 640px) {
		grid-template-columns: 1fr;
	}

	@media screen and (max-width: 700px) {
		max-width: 100%; width: 100%;
	}

	& :last-child {
		 border-bottom: none;
	}
}

.core_values_card {
	background-size: contain;
	padding:17px 0%;
	border-bottom: solid 1px #c4c4c4;
	transition: transform 0.25s ease, box-shadow 0.25s ease;

	h4{ color: #000000; font-weight: 400 !important; font-size: 23px; margin-bottom:10px;
		span{ color: #101922; font-weight: 300; display: block; margin-bottom: 10px;}

		@media screen and (max-width: 820px) {
			font-size: 18px;
		}
	}

	p{ color: #101922;}

	&:hover {
		.core_values_icon {
			.core_values_icon_default {
				opacity: 0;
				visibility: hidden;
			}

			.core_values_icon_hover {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.core_values_icon {
	margin-bottom: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: auto;
	height: auto;

	img {
		transition: opacity 0.3s ease, visibility 0.3s ease;
	}

	.core_values_icon_default {
		opacity: 1;
		visibility: visible;
	}

	.core_values_icon_hover {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.core_values_title {
	margin: 0 0 10px;
	font-size: 20px;
	font-weight: 600;
	color: #101922;
}

.core_values_text {
	margin: 0;
	color: #5b6773;
	line-height: 1.6;
}

