.footer {
  background: #1d1d1d;
  color: #fff;
  width: 100%;
  padding-top: 85px;
  display: flex;
  flex-wrap: wrap;

  .footer_left {
    width: 33.5%;

    @media screen and (max-width: 700px) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    img {
      @media screen and (max-width: 700px) {
        width: 25%;
      }
    }

    .footer_social_ul {
      width: auto;
      margin-bottom: 0;
    }
  }

  .footer_right {
    width: 66.5%;

    @media screen and (max-width: 700px) {
      width: 100%;
      margin-top: 35px;
    }
  }

  .footer_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer_row_01 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer_social_ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -5px;
    padding: 0px;
    margin-bottom: 30px;

    li {
      list-style: none;
      padding: 0 5px;

      a {
        display: inline-flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        border: solid 1px #b5b5b5;

        &:hover {
          background: #363636;
        }
        img {
          filter: invert(0.3);
        }
      }
    }

    &.mobile_hide {
      @media screen and (max-width: 700px) {
        display: none !important;
      }
    }
  }

  .footer_row_02 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-end;
    padding-bottom: 80px;

    @media screen and (max-width: 700px) {
      padding-bottom: 30px;
    }
  }

  .footer_row_02_left {
    width: 50%;

    h3 {
      @include px-rem(30);
      font-weight: 600;
      line-height: 143%;
      margin: 0;

      span {
        font-weight: 300;
      }

      @media screen and (max-width: 820px) {
        @include px-rem(50);
      }
      @media screen and (max-width: 700px) {
        @include px-rem(75);
      }
    }

    @media screen and (max-width: 820px) {
      width: 100%;
      margin-bottom: 10px;
    }

    @media screen and (max-width: 700px) {
      padding-bottom: 15px;
    }
  }

  .footer_row_02_right {
    width: 50%;

    @media screen and (max-width: 820px) {
      width: 100%;
    }
  }

  .subscribe_form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid 1px rgba(248, 248, 248, 0.2);
    border-radius: 35px;
    height: 64px;

    .btn_style {
      height: 100%;
    }

    @media screen and (max-width: 820px) {
      height: 50px;
    }

    @media screen and (max-width: 700px) {
      height: 40px;
    }

    .btn_green {
      color: #fff;
      img {
        -webkit-filter: invert(1);
        filter: invert(1);
      }
    }

    @media screen and (max-width: 1300px) {
      height: 40px;
    }

    .btn_style {
      min-width: unset;
    }
  }

  .footer_email_input {
    width: calc(100% - 154px);
    background: transparent;
    outline: none;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
  }

  .footer_row_03_ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 -2%;
    padding: 0px;

    .footer_link_ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;

        @media screen and (max-width: 1024px) {
          padding-bottom: 6px;
        }

        a {
          font-weight: 400;
          color: #b5b5b5;
        }
      }
    }
  }

  .footer_row_03 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px #363636;
    padding-bottom: 40px;
    margin-bottom: 28px;

    .footer_row_03_ul {
      > li {
        list-style: none;
        padding: 0 2%;
        width: 28.3%;

        h3 {
          font-weight: 400;
          color: #b5b5b5;
          margin: 0;
          margin-bottom: 15px;
          @include px-rem(22);

          @media screen and (max-width: 820px) {
            @include px-rem(30);
          }

          @media screen and (max-width: 800px) {
            @include px-rem(45);
            margin-bottom: 5px;
          }
        }

        a {
          color: #696969 !important;
          font-size: 16px;

          &:hover {
            color: #f1ffd4 !important;
          }

          @media screen and (max-width: 700px) {
            font-size: 14px;
          }
        }

        @media screen and (max-width: 700px) {
          width: 50%;
          padding-bottom: 15px;
          margin-bottom: 15px;
        }
      }
    }

    h4 {
      font-weight: 400;
      color: #cfcfcf;
      margin: 0;
      font-size: 16px;
      margin-top: 15px;

      @media screen and (max-width: 700px) {
        margin-top: 5px;
      }
    }

    p {
      margin: 0;

      a {
        color: #696969;
      }
    }

    @media screen and (max-width: 700px) {
      margin-bottom: 5px;
      border: none;
      padding-bottom: 0px;
    }
  }

  .footer_row_04 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;

    p {
      margin: 0;
    }

    @media screen and (max-width: 700px) {
      border-top: solid 1px #363636;
      padding-top: 20px;
      justify-content: center;
    }
  }
}

.footer_row_04_right {
  ul {
    margin: 0 -20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      list-style: none;
      padding: 0;
      margin: 0 20px;

      a {
        font-weight: 400;
        color: #696969;
        font-size: 16px;

        @media screen and (max-width: 700px) {
          font-size: 14px;
        }

        &:hover {
          color: #f1ffd4 !important;
        }
      }
    }

    & > :nth-child(1) {
      @media screen and (max-width: 700px) {
        border-right: solid 1px #363636;
        margin: 0;
        padding: 0 20px;
      }
    }
  }
}

.footer_row_04_left {
  p {
    margin: 0;
    font-size: 16px;
    color: #696969;
    font-weight: 400;

    @media screen and (max-width: 700px) {
      font-size: 14px;
    }
  }
}
