 .image_text_block_container{ width:39.5%; position: relative;

    img {
        width: 100%;
    }

    @media screen and (max-width: 700px) {
        width: 100%; margin-bottom: 30px;
    }

    &:after{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;   
    //     background: linear-gradient(
    //     241.46deg,
    //     rgba(162, 200, 86, 0.4) 0%,
    //     rgba(105, 154, 71, 0.4) 48.000770807266235%,
    //     rgba(19, 107, 55, 0.4) 77.33049988746643%
    //   );
    background: linear-gradient(241.46deg, rgba(162, 200, 86, 0.5) 2.13%, rgba(105, 154, 71, 0.5) 49.11%, rgba(19, 107, 55, 0.5) 77.81%);

    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}
 .image_image_block_container{ width: 53.7%;

    @media screen and (max-width: 700px) {
        width: 100%; 
    }

    ul{ padding: 0; margin: 0; margin-left: 20px;
        li{ list-style: disc; padding-left: 20px; color: #444444; font-size: 16px; font-weight: 300; padding: 0; margin-bottom: 15px;
            &::marker{ font-size:13px;}
        }
    }

    h5{ margin: 0; font-size: 16px; font-weight: 600; margin-top: 5px; margin-bottom: 5px; }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin-top: 25px;
    }
}


.bg_style_01{ background: #F5F9EE url('../images/bg_sectiopn.svg') no-repeat center center;  background-size: contain;}


.image_text_block_section{
    @media screen and (max-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}