.insights_resources_section {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #fff;

	.insights_section_header {
		margin-bottom:30px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;

		.insights_section_header_left {
			width: 50%;
		}

		.insights_section_header_right {
			width: 33%;

			p {
				font-size: 18px;
				line-height: 160%;
				color: #000;
				font-family: 'RB';
				font-weight: 300;
			}
		}

        @media screen and (max-width:700px) {
            margin-bottom: 15px;
        }

		.slider_arrow_block {
			@media screen and (max-width: 700px) {
				display: none;
			}
		}
		position: relative;

		.slider_arrow_block{ 
			width: auto;
			
			&.hidden-navigation {
				display: none;
			}
		}
		
		.view-all-button-wrapper {
			width: auto;
		}

		// Top button (desktop / larger screens)
		.view-all-button-wrapper--top {
			@media screen and (max-width: 820px) {
				display: none;
			}
		}
	}

	// Bottom button (mobile-only) - placed under the swiper
	.view-all-button-wrapper--bottom {
		display: none;

		@media screen and (max-width: 820px) {
			display: block;
			margin-top: 20px;

			.btn_style {
				width: 100%;
				justify-content: center;
			}
		}
	}


	// Responsive styles
	@include max(1024) {
		.insights_section_header {
			.insights_section_header_left,
			.insights_section_header_right {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	@include max(768) {
		.insights_section_header {
			.insights_section_header_right {
				p {
					font-size: 16px;
				}
			}
		}
	}
}


.insights_item{   
	display: flex; 
	flex-wrap: wrap;
	text-decoration: none;
	color: inherit;
	
	// When insights_item is an anchor tag
	&:hover {
		text-decoration: none;
		color: inherit;
	} 
.insights_item_content{ margin-top: 20px;


	 @media (max-width: 700px) {
		margin-top: 10px !important;
		margin-bottom: 10PX;
	 }
}
    .latest_news_text_lable{ color: #0D6A37; font-size: 15px; font-weight: 400;}
    .insights_item_content{
        h4{ margin: 0; font-size: 18px; color: #101922; font-weight:500; line-height: 120%;   margin-bottom:5px;
            @media screen and (max-width: 1024px) { font-size: 16px; }
            
        }
    }

    .latest_news_lable{ background: #fff; color: #676767; font-size: 13px; display: inline-flex; padding: 1px 6px; position: absolute; bottom:   -1px; left: 0px; z-index: 2;}

    .insights_item_image{ 
        position: relative;
        overflow: hidden;
		width: 50%;
	 
        img {
            width: 100%;
            // height: auto;
            display: block;
            transition: transform 0.5s ease;
            transform: scale(1);
        }
        
        &:hover {
            img {
                transform: scale(1.1);
            }
        }

		@media screen and (max-width:700px) {
			width: 100%;
		}
    }


	@media screen and (max-width:700px) {
		flex-direction: column-reverse;
	}
}


.insights_item_image{  position: relative;

	// width: 50%;
	@media screen and (max-width:700px) {
		width: 100%;
   }

   img{ width: 100%; height: 100%; object-fit: cover;}

}
.insights_item_text{ padding: 5%; width: 50%; position: relative; background: url(../images/news-block-bg.png) no-repeat center center; background-size: cover;
h5{
	font-size: 20px;   font-weight: 400; line-height: 130%; margin: 0; margin-bottom: 20px; margin-top:30px;
	@media screen and (max-width:768px) {
		font-size: 19px;   margin-top:20px;
	}

@media screen and (max-width:1024px) {
	font-size: 18px;  
}


	@media screen and (max-width:700px) {
		margin-top: 20px;
	}
}

.latest_news_text_date_new{ font-size: 15px;   color: #474c60; font-weight: 400; line-height: 100%;}


@media screen and (max-width:700px) {
	 width: 100%;
}


a{ color: #000  ;}

}


.latest_news_text_lable_new{  top: 10%; left: 10%; z-index: 2 ; display: inline-flex; color: #fff; background: #000; border-radius:25px; font-weight: 600; padding: 2px 10px; font-size: 13px; font-weight:300; 
	@media screen and (max-width:768px) {
		  font-size: 11px;
	}

}

.slider_arrow_block_02{ justify-content: center; display: flex; flex-wrap: wrap; gap: 10px; padding-bottom: 0px; width: 100%; margin-top: 35px;}

.mySwiper-insights{
	@media screen and (max-width: 700px) {
		 overflow: visible !important;
	}
	.insights_item_image{ width: 100%;}
}