.insights_resources_section {
	width: 100%;
	position: relative;
	background: #fff;

	.insights_section_header {
		margin-bottom: 50px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: space-between;

		.insights_section_header_left {
			width: 50%;
		}

		.insights_section_header_right {
			width: 33%;

			p {
				font-size: 18px;
				line-height: 160%;
				color: #000;
				font-family: 'RB';
				font-weight: 300;
			}
		}

        @media screen and (max-width:700px) {
            margin-bottom: 15px;
        }
	}


	// Responsive styles
	@include max(1024) {
		.insights_section_header {
			.insights_section_header_left,
			.insights_section_header_right {
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}

	@include max(768) {
		.insights_section_header {
			.insights_section_header_right {
				p {
					font-size: 16px;
				}
			}
		}
	}
}


.insights_item{
.insights_item_content{ margin-top: 20px;}
    .latest_news_text_lable{ color: #0D6A37; font-size: 15px; font-weight: 400;}
    .insights_item_content{
        h4{ margin: 0; font-size: 18px; color: #101922; font-weight:500; line-height: 120%;   margin-bottom:5px;
            @media screen and (max-width: 1024px) { font-size: 16px; }
            
        }
    }

    .latest_news_lable{ background: #fff; color: #676767; font-size: 13px; display: inline-flex; padding: 1px 6px; position: absolute; bottom:   -1px; left: 0px; z-index: 2;}

    .insights_item_image{ 
        position: relative;
        overflow: hidden;
        
        img {
            width: 100%;
            height: auto;
            display: block;
            transition: transform 0.5s ease;
            transform: scale(1);
        }
        
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}
