
.job_main_title{ font-size: 30px; font-weight:400; margin: 0; line-height: 100%;}
.job_details_header{ margin-bottom:10px;}

.job_info_list{margin: 0; margin-top: 25px; padding: 0; margin-bottom: 30px;
    li{ list-style: disc; font-size: 16px; color: #444444; list-style-position: inside;
        @media screen and (max-width: 700px) {
            font-size: 14px;
        }
        &::marker{ font-size: 10px;}

        span{ font-weight:600;}
    }
}

.job_posted_date, .job_location{ font-size: 16px;
    @media screen and (max-width: 700px) {
        font-size: 14px;
    }
}