.mission_vision_section {
  .mission_vision_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 30px;
    }
  }

  .mission_vision_item {
    flex: 1;
    min-width: 0;
    padding: 40px;
    background: #fff;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @media screen and (min-width: 769px) {
      max-width: calc(50% - 7px);
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 30px;
    }

    &:hover {
      .mission_vision_icon {
        .icon-default {
          opacity: 0;
        }

        .icon-hover {
          opacity: 1;
        }
      }
    }
  }

  .mission_vision_icon {
    margin-bottom: 24px;
    width: 123px;
    height: 120px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: opacity 0.3s ease;
    }

    .icon-default {
      opacity: 1;
    }

    .icon-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    @media screen and (max-width: 768px) {
      width: 80px;
    }

    &.vision-icn-01 {
      width: 123px;
      height: 134px;

	  @media screen and (max-width: 768px) {
		width: 80px;
		height: 80px;
	  }
    }
    &.mission-icn-01 {
      width: 90px;
      height: 124px;
	  @media screen and (max-width: 768px) {
		width: 80px;
		height: 80px;
	  }
    }
  }

  .mission_vision_title {
    margin: 0 0 16px;
    @include px-rem(28);
    font-weight: 600;
    color: #101922;
    line-height: 1.3;

    span {
      color: #0d6a37;
    }
  }

  .mission_vision_content {
    color: #5b6773;
    line-height: 1.7;
    @include px-rem(16);
	width:90%;
	@media screen and (max-width: 1024px) {
		width: 100%;
	}

    p {
      margin: 0 0 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.mission_vision_item {
  h3 {
    span {
      display: block;
      font-weight: 300;
      margin-bottom: 30px;
      @media screen and (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
  }
}
