.profile-title-block{ position: relative;}
.my_profile_content{

    .but-position{right: 0; top: 0;
        @media screen and (min-width: 1024px) {
            position: absolute; 
        }
    }
}


.profile-view-block-01{ display: flex; flex-wrap: wrap;  align-items: center;



}
.profile-photo-block{ width:12.5%; aspect-ratio: 1/1; border-radius: 50%; overflow: hidden; background: #E0E0E0;}
.profile-view-block-01-item-01{   width: calc(100% - 154px)	;

    h5{ margin-bottom: 10px;}
}

@media screen and (max-width: 768px){
	.profile-view-block-01{
		align-items: flex-start;
	}
	.profile-photo-block{
		width: 80px;
		margin-bottom: 15px;
	}
	.profile-view-block-01-item-01{
		width: 100%;
	}
}

.profile-view-block-01-list{ margin: 0; padding: 0; list-style: none;
    li{ margin: 0; padding: 0; margin-bottom: 15px; list-style: none;

        h6{ margin: 0; font-size: 17px; font-weight:600;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
        
        }
        p{  font-size: 16px;}
    }
}

// Education Section Styles
.education-list {
	margin: 0;
	padding: 0;
	list-style: none;

	.education-item {
		position: relative;
		margin-bottom: 20px;
		padding-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.education-header {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 8px;

			.education-institution {
				margin: 0;
				font-size: 17px;
				font-weight: 600;
				color: #333;
			}

			.education-duration {
				position: absolute;
				right: 0;
				bottom:15px;
				font-size: 16px;
				color: #333;
			}
		}

		.education-degree {
			margin: 0 0 4px 0;
			font-size: 16px;
			color: #333;
		}

		.education-location {
			margin: 0;
			font-size: 16px;
			color: #333;
		}
	}

	.education-divider {
		width: 100%;
		height: 1px;
		background: #E0E0E0;
		margin: 20px 0;
	}
}

@media screen and (max-width: 768px){
	.education-list{
		.education-item{
			padding-bottom: 16px;

			.education-header{
				position: static;

				.education-duration{
					position: static;
					display: block;
					margin-top: 4px;
					text-align: left;
				}
			}
		}
	}
}

// Experience Section Styles (reuse education layout)
.experience-list {
	margin: 0;
	padding: 0;
	list-style: none;

	.experience-item {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;

		.experience-header {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			margin-bottom: 4px;

			.experience-position {
				margin: 0;
				font-size: 17px;
				font-weight: 600;
				color: #333;
			}

			.experience-duration {
				position: absolute;
				right: 0;
				bottom: 0;
				font-size: 16px;
				color: #333;
			}
		}

		.experience-company {
			margin: 0;
			font-size: 16px;
			color: #333;
		}
	}
}

@media screen and (max-width: 768px){
	.experience-list{
		.experience-item{
			.experience-header{
				position: static;

				.experience-duration{
					position: static;
					display: block;
					margin-top: 4px;
					text-align: left;
				}
			}
		}
	}
}

// License / Saudi Council blocks
.license-block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;

	.license-image {
		width: 194px;
		max-width: 30%;
		img {
			width: 100%;
			height: auto;
			display: block;
			object-fit: contain;
		}
	}

	.license-content {
		flex: 1 1 auto;

		h5 {
			margin-bottom: 15px;
		}

		.license-title {
			margin: 0 0 4px 0;
			font-size: 17px;
			font-weight: 600;
			color: #333;
		}

		.license-desc {
			margin: 0;
			font-size: 16px;
			color: #333;
		}
	}

	.license-duration {
		margin-left: auto;
		font-size: 16px;
		color: #333;
	}
}

@media screen and (max-width: 768px){
	.license-block{
		align-items: flex-start;

		.license-image{
			width: 100%;
			max-width: 100%;
		}

		.license-content{
			flex: 1 1 100%;
			margin-top: 15px;
		}

		.license-duration{
			width: 100%;
			margin-top: 10px;
			text-align: left;
		}
	}
}

.h3_title_35{ @include px-rem(35); color: #0D6A37; font-weight: 400;
}


#login-popup-training-submit{ max-width: 570px; margin: 0 auto;}