.my_jobs_section {
	padding-top: 50px !important;
	padding-bottom: 50px !important;

	@media screen and (max-width: 1024px) {
		padding-top: 40px !important;
		padding-bottom: 40px !important;
	}

	@media screen and (max-width: 600px) {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
	}

	.wrap {
		width: 100%;
	}

	.my_jobs_container {
		max-width: 1074px;
		margin: 0 auto;
	}

	.my_jobs_content {
		.profile-title-block {
			margin-bottom: 30px;
		  
			
		}
	}

	// Table Styles
	.my_jobs_table_wrapper {
		width: 100%;
		overflow-x: auto;
	}

	.my_jobs_table {
		width: 100%;
		border-collapse: separate;
		border-spacing: 0 12px;
		background: transparent;

		thead {
			tr {
				background: #ffffff;
				border-radius: 12px;
				 
				overflow: hidden;

				th {
					padding:25px 25px;
					text-align: left;
					font-size: 18px;
					font-weight: 500;
					color: #000;
					background: transparent;
					border: none;
				 

					&:first-child {
					 
						border-top-left-radius: 12px;
						border-bottom-left-radius: 12px;
					}

					&:last-child {
						border-right: 1px solid #E0E0E0;
						border-top-right-radius: 12px;
						border-bottom-right-radius: 12px;
					}
				}
			}
		}

		tbody {
			tr {
				background: #ffffff;
				border-radius: 12px;
			 

				td {
					padding: 25px 25px;
					font-size: 16px;
					color: #1d1d1f;
                    font-weight: 300;
					border: none;
				 

					&:first-child {
					 
						border-top-left-radius: 12px;
						border-bottom-left-radius: 12px;
					}

					&:last-child {
						border-right: 1px solid #E0E0E0;
						border-top-right-radius: 12px;
						border-bottom-right-radius: 12px;
					}
				}

			 

			 
			}
		}

		.job_status_badge {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 4px 12px;
			border-radius: 999px;
			font-size: 14px;
			font-weight: 500;

			// &.job_status_badge--active {
			 
			// 	color: #0d6a37;
			// }

			&.job_status_badge--shortlisted {
				background: #D2E6F3;
				color: #0d3f6a;
			}

			&.job_status_badge--rejected {
				background: #F7D7D7;
				color: #a32020;
			}
		}
	}

	@media screen and (max-width: 1024px) {
		.my_jobs_table {
			thead {
				tr {
					th {
						padding: 10px 12px;
						font-size: 14px;
					}
				}
			}

			tbody {
				tr {
					td {
						padding: 12px;
						font-size: 14px;
					}
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		.my_jobs_table_wrapper {
			overflow-x: scroll;
			-webkit-overflow-scrolling: touch;
		}

		.my_jobs_table {
			min-width: 800px;

			thead {
				tr {
					th {
						padding: 10px 21px;
						font-size: 13px;
					}
				}
			}

			tbody {
				tr {
					td {
						padding: 12px 8px;
						font-size: 13px;
					}
				}
			}
		}
	}
}


.profile-link{  display: inline-block; margin-bottom: 20px;

    a{
        color: #0D6A37 ; font-size: 16px; font-weight: 500;
    }
}