// News Page Styles
.news_list_ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: -0.3%;
	margin-right: -0.3%;
	display: flex;
	flex-wrap: wrap;

	li {
		list-style: none;
		width: 25%;
		padding-left: 0.3%;
		padding-right: 0.3%;
		padding-bottom: 10px;

		@media screen and (max-width: 1024px) {
			width: 33.333%;
		}

		@media screen and (max-width: 768px) {
			width: 50%;
		}

		@media screen and (max-width: 480px) {
			width: 100%;
		}
	}

	.insights_item_image_link {
		display: block;
		width: 100%;
		text-decoration: none;
		color: inherit;
	}

	.insights_item_content {
		a {
			text-decoration: none;
			color: inherit;
			display: block;

			&:hover {
				color: #0D6A37;
			}

			h4 {
				margin: 0;
				transition: color 0.3s ease;
			}
		}
	}

	.news_item_hidden {
		display: none;
	}

	.insights_item_image{ width: 100%;}
}

.load_more_container {
	width: 100%;
	margin-top: 40px;
	text-align: center;

	@media screen and (max-width: 768px) {
		margin-top: 30px;
	}

	@media screen and (max-width: 480px) {
		margin-top: 20px;
	}

	.load_more_btn {
		&.loading {
			opacity: 0.7;
			pointer-events: none;
		}
	}
}

.news-navigation-position{ width: 100%; justify-content: center; margin-top: 30px;}


.related-news{
	.insights_item_image{ width: 100%;}
}