.our_journey_section {
    overflow: hidden;
	.slider_arrow_block {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 0;

		@media screen and (max-width: 768px) {
			margin-top: 20px;
		}

		.slider_buttion {
			cursor: pointer;
			width: 58px;
			height: 58px;
			border-radius: 100%;
			background: #A9D159;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease;

			&:hover {
				background: #0D6A37;
			 
			}

			// &.but_prev {
			// 	img {
			// 		transform: rotate(180deg);
			// 	}
			// }

			img {
				width: 24px;
				height: 24px;
				transition: transform 0.3s ease;
			}
		}


		@media screen and (max-width: 700px) {
			display: none;
		}
	}
}

.our_journey_gallery_wrapper {
	width: 100%;
	margin-top: 40px;

	@media screen and (max-width: 768px) {
		margin-top: 30px;
	}
}

.our_journey_main_swiper {
	width: 100%;
	margin-bottom: 20px;
 	overflow: hidden;

	@media screen and (max-width: 768px) {
		margin-bottom: 15px;
		border-radius: 8px;
	}

	.swiper-slide {
		width: 100%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: auto;
			display: block;
			object-fit: cover;
			 
		}
	}
}

.our_journey_thumb_swiper {
	width: 100%;
	padding: 10px 0;
    overflow: visible;

	.swiper-slide {
		width: auto;
		height: auto;
		cursor: pointer;
		opacity: 0.5;
		transition: opacity 0.3s ease;
		border-radius: 8px;
		overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @include px-rem(90); 
        font-weight:300;
        line-height: 100%;
		padding-right: 18%;
        
    padding-top: 45px;

		&.swiper-slide-thumb-active {
			opacity: 1;
		}

		&:hover {
			opacity: 0.8;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
			object-fit: cover;
			border-radius: 8px;
			 
			transition: border-color 0.3s ease;
		}
 

        &::after{ content: ''; position: absolute; top: 20px; left: 0; width: 100%; height: 1px; background:  rgba(183, 196, 159, 0.5); }
	}

	@media screen and (max-width: 700px) {
		margin-bottom: 25px;
	}
}


.our_journey_main_swiper_item_content_year{ margin-bottom: auto;
    p{   color: #8DC540; font-size: 15px; font-weight:300; }
}

.our_journey_item_image{  width: 37.5%;

@media screen and (max-width: 768px) {
	width:48%; 
}
 @media screen and (max-width: 700px) {
	width:100%; 
}

}
.our_journey_content_block{  width: 50%; display: flex; flex-wrap: wrap; 
@media screen and (max-width: 768px) {
	width:48%;
}


@media screen and (max-width: 700px) {
	width:100%; 
}

}

.dot-icn{ background: #0d6a37 ; width: 16px;  height: 16px; display: inline-block; border-radius: 50%; position: absolute; top: 13px; z-index: 1; opacity: 0;}

.swiper-slide-thumb-active{
    .dot-icn{ opacity: 1;}
}











.our_journey_item_image{  position: relative;
&:after{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%;   background: linear-gradient(
    241.46deg,
    rgba(162, 200, 86, 0.4) 0%,
    rgba(105, 154, 71, 0.4) 48.000770807266235%,
    rgba(19, 107, 55, 0.4) 77.33049988746643%
  );}
}


.our_journey_main_swiper_item_content{ margin-top: auto;
    h4{ @include px-rem(40); font-weight: 400;  line-height: 100%; margin: 0; margin-bottom: 10px; }
}