.mySwiper-partners {
  .swiper-slide {
    aspect-ratio: 320/319;
    border-right: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
    border-top: solid 1px #e0e0e0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 700px) {
      aspect-ratio: 160/100;
    }
  }
}

.partners_section {
  border-top: solid 1px #e5e5e5;
  @media screen and (max-width: 700px) {
    border-top: none;
    margin-top: 0px;
    padding-bottom:80px;
  }
}
