.mySwiper-partners{
    .swiper-slide{ aspect-ratio: 320/319; border-right: solid 1px #E0E0E0; border-bottom: solid 1px #E0E0E0; border-top: solid 1px #E0E0E0;  display: flex; flex-wrap: wrap; align-items: center; justify-content: center; }
}

.partners_section{ border-top: solid 1px #e5e5e5;}