// Project Filter Template Part
.project_filter_section {
	width: 100%;
	position: relative;
	background: #F5F9EE;
    padding-bottom: 0px;
	 

	@media screen and (max-width: 768px) {
		padding: 20px 0;
	}

	.wrap {
		width: 100%;
	 

		@media screen and (max-width: 768px) {
			padding: 0 15px;
		}

		@media screen and (max-width: 480px) {
			padding: 0 10px;
		}
	}

	.project_filter_container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
        border-bottom: solid 1px #E1E4ED;
        padding-bottom: 15px;
		gap: 20px;
		flex-wrap: wrap;

		@media screen and (max-width: 768px) {
			flex-wrap: wrap;
			gap: 15px;
		}

		@media screen and (max-width: 480px) {
			flex-direction: column;
			align-items: flex-start;
			gap: 15px;
		}
	}

	.project_filter_title {
		flex-shrink: 0;

	 
	}

	.project_filter_buttons {
		display: flex;
		align-items: center;
		gap: 15px;
        justify-content: flex-end;
		flex: 1;
		flex-wrap: wrap;
		 

		@media screen and (max-width: 768px) {
			gap: 10px;
			flex-wrap: wrap;
		}

		@media screen and (max-width: 480px) {
			width: 100%;
			flex-direction: column;
			align-items: stretch;
		}

		.project_filter_item {
			flex-shrink: 0;
            width:180px;

			@media screen and (max-width: 480px) {
				width: 100%;
			}

			.project_filter_select {
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				background-color: #fff;
				background-image: url('../images/select-arrow.svg');
				background-repeat: no-repeat;
				background-position: right 15px center;
				background-size: 11px 6px;
				border: none;
				border-radius:50px;
				padding:19px 25px;
				padding-right: 40px;
				font-size: 14px;
				font-weight: 400;
				color: #333;
				cursor: pointer;
				width: 100%;
				transition: all 0.3s ease;

				&:hover {
					background-color: #f5f5f5;
				}

				&:focus {
					outline: none;
					box-shadow: 0 0 0 2px rgba(130, 181, 58, 0.3);
					background-color: #fff;
				}
				
				@media screen and (max-width: 768px) {
					background-color: #fff !important;
					-webkit-tap-highlight-color: transparent;
				}

				@media screen and (max-width: 1024px) {
					font-size: 15px;
					padding: 10px 18px;
					padding-right: 38px;
					min-width: 140px;
				}

				@media screen and (max-width: 768px) {
					font-size: 14px;
					padding: 10px 15px;
					padding-right: 35px;
					min-width: 120px;
				}

				@media screen and (max-width: 480px) {
					width: 100%;
					min-width: auto;
				}
			}

			@media screen and (max-width:1024px) {
				 
				width: calc(29% - 26.66666666666667px);
			}


			@media screen and (max-width: 700px) {
				width: 100%;
			}
		}

		@media screen and (max-width: 1024px) {
			 width: 100%; flex: auto; justify-content: space-between;
		}

	}

	.project_filter_clear {
		flex-shrink: 0;

		@media screen and (max-width: 480px) {
			width: 100%;
			text-align: left;
		}

		.project_filter_clear_link {
			color: #0D6A37;
			font-size: 16px;
			font-weight: 600;
			text-decoration: none;
			transition: color 0.3s ease;
			cursor: pointer;

			&:hover {
				color: #6a9a2e;
			}

			@media screen and (max-width: 768px) {
				font-size: 15px;
			}

			@media screen and (max-width: 480px) {
				font-size: 14px;
			}

        &:hover{
            color: #019c47;
        }
		}

		@media screen and (max-width: 1024px) {
			width:  80px
		}
	}
}

