 .services_section_01{ margin-bottom: 50px;  display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: space-between;
   .services_section_01_item_01{ width: 50%;}
   .services_section_01_item_02{ width: 33%;
      p{ font-size: 18px;}
   
   }
}

.services_section_item_01{ 
	width: 100%; 
	height: 100%; 
	background: #F5F9EE;  
	position: relative;
	overflow: hidden;
	
	&::after{ 
		content: ""; 
		display: block; 
		width: 100%; 
		height: 100%; 
		position: absolute; 
		top: 0; 
		left: 0;  
		background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); 
		z-index: 1;
		transition: opacity 0.3s ease;
	}
	
	img{ 
		width: 100%; 
		height: auto;
		display: block;
		transition: transform 0.5s ease, opacity 0.3s ease;
		transform: scale(1);
	}
	
	&:hover {
		img {
			transform: scale(1.1);
		}
		
		&::after {
			opacity: 0.4;
			background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
		}
	}
}

.services_section_item_01_content{ position: absolute; bottom: 0; left: 0; width: 100%;  z-index: 10; padding: 10%;
 h3{ margin: 0; color: #fff; @include px-rem(33); font-weight: 700; line-height: 100%; margin-bottom: 10px;}
 h5{ margin: 0; color: #A9D159; font-size: 20px; font-weight: 400; font-family: 'RB';}
 p{ margin: 0; color: #fff; line-height: 100%;} 


 .btn_style{ margin-top: 45px;}
}