 .services_section_01{ padding-bottom: 50px;  display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: space-between;
   .services_section_01_item_01{ width: 50%;
   
      @media screen and (max-width:700px) {

        width: 100%;
      }
   }
   .services_section_01_item_02{ width: 33%;
      p{ font-size: 18px; margin: 0;
	
	
	@media screen and (max-width:700px) {
		font-size: 16px; 
	}
	}
   


      @media screen and (max-width: 800px) {

         width: 50%;
         margin-top: 20px;
      }

      @media screen and (max-width:700px) {

         width: 100%;
         margin-top: 10px;
       }
   }
}

.services_section_item_01{ 
	width: 100%; 
	height: 100%; 
	background: #F5F9EE;  
	position: relative;
	overflow: hidden;
	
	&::after{ 
		content: ""; 
		display: block; 
		width: 100%; 
		height: 100%; 
		position: absolute; 
		top: 0; 
		left: 0;  
		background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)); 
		z-index: 1;
		transition: opacity 0.3s ease;
	}
	
	img{ 
		width: 100%; 
		height: auto;
		display: block;
		transition: transform 0.5s ease, opacity 0.3s ease;
		transform: scale(1);
	}
	
	&:hover {
		img {
			transform: scale(1.1);
		}
		
		 
	}
}

.services_section_item_01_content{ position: absolute; bottom: 0; left: 0; width: 100%;  z-index: 10; padding: 10%;
 h3{ margin: 0; color: #fff; @include px-rem(33); font-weight: 700; line-height: 100%; margin-bottom: 10px;

   @media screen and (max-width:700px) {
      @include px-rem(73);
   }

}
 h5{ margin: 0; color: #A9D159; font-size: 20px; font-weight: 400;  line-height: 100%;

   @media screen and (max-width:700px) {
      @include px-rem(55);
   }


}
 p{ margin: 0; color: #fff; line-height: 100%; font-size: 16px;} 


 .btn_style{ margin-top: 45px;

@media screen and (max-width: 1100px) {
	margin-top: 20px;
}


}


@media screen and (max-width: 800px) {
   margin-top: 30px;
}



}

// Service Item Block
.service_item_block {
	width: 100%;
	position: relative;
	overflow: hidden;
	background: #F5F9EE;
}

.service_item_image {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to left, rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.411));
		z-index: 1;
		transition: opacity 0.3s ease;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
		transition: transform 0.5s ease, opacity 0.3s ease;
		transform: scale(1);
	}
}

.service_item_content {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
 
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 8%;

	h3 {
		margin: 0;
		color: #fff;
		@include px-rem(33);
		font-weight: 700;
		line-height: 100%;
		margin-bottom: 25px;
		@media screen and (max-width: 8200px) {
			@include px-rem(50); margin-bottom:15px;
		}

		@media screen and (max-width: 700px) {
			@include px-rem(70);
			margin-bottom: 15px;
		}

		@media screen and (max-width: 480px) {
			@include px-rem(45);
			margin-bottom: 5px;
		}
	}

	h5 {
		margin: 0;
		color: #A9D159;
		font-size: 20px;
		line-height: 100%;
		font-weight: 600;
		font-family: 'RB';
		margin-bottom: 2px;

		@media screen and (max-width: 700px) {
			@include px-rem(55);
		}
		@media screen and (max-width: 480px) {
			@include px-rem(45);
			margin-bottom: 5px;
		}
	}

	p {
		margin: 0;
		color: #fff;
		line-height: 140%;
		font-size: 16px;
		margin-bottom:  0px;
		max-width: 70%;

		@media screen and (max-width: 700px) {
			font-size: 14px; max-width: 100%;
		}
	}

	.btn_style {
		margin-top: 45px;

	 
		@media screen and (max-width: 800px) {
			margin-top: 30px;
		}

		@media screen and (max-width: 700px) {
			margin-top: 20px;
		}

		@media screen and (max-width: 480px) {
			margin-top: 10px;
		}
	}

	@media screen and (max-width: 800px) {
		padding: 8%;
	}

	@media screen and (max-width: 700px) {
		padding: 6%;
	}
}

.service_item_block:hover {
	.service_item_image {
		img {
			transform: scale(1.1);
		}

		// &::after {
		// 	opacity: 0.4;
		// 	background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
		// }
	}
}

// Services Items Section
.services_items_section {
	width: 100%;
	position: relative;
}

.services_items_grid {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:25px;
	width: 100%;

	@media screen and (max-width: 1024px) {
		gap: 20px;
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	li {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
	}

	.service_item_block {
		width: 100%;
		 
	 
	}
}

.service_item_content_01{ width: calc(100% - 157px);

	@media screen and (max-width: 700px) {
		width: 100%;
	}
}

// Engineering Design Page
.engineering_design_features_section {
	width: 100%;
	position: relative;
}

.engineering_design_features_list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	width: 100%;

	@media screen and (max-width: 1024px) {
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	li {
		margin: 0;
		padding: 0;
		list-style: none;
		padding: 40px;
		background: #F5F9EE;
		border-radius: 8px;
		transition: all 0.3s ease;

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
		}

		@media screen and (max-width: 768px) {
			padding: 30px;
		}

		h5 {
			margin: 0;
			margin-bottom: 15px;
			font-size: 24px;
			font-weight: 600;
			color: #0D6A37;
			line-height: 1.3;

			@media screen and (max-width: 768px) {
				font-size: 20px;
				margin-bottom: 12px;
			}
		}

		p {
			margin: 0;
			font-size: 16px;
			line-height: 1.6;
			color: #5b6773;

			@media screen and (max-width: 768px) {
				font-size: 14px;
			}
		}
	}
}

.engineering_design_cta_section {
	width: 100%;
	position: relative;
}

.engineering_design_cta_content {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;

	h3 {
		margin-bottom: 20px;

		@media screen and (max-width: 768px) {
			margin-bottom: 15px;
		}
	}

	p {
		margin: 0;
		margin-bottom: 40px;
		font-size: 18px;
		line-height: 1.6;
		color: #fff;

		@media screen and (max-width: 768px) {
			font-size: 16px;
			margin-bottom: 30px;
		}
	}

	.btn_style {
		display: inline-block;
	}
}


.services_cards_row{ display: flex; flex-wrap: wrap; width: 100%;  
	.services_card{ width: 20%; padding: 0 2px;
	
		@media screen and (max-width: 700px) {
			width: 100%; margin-bottom: 5px;
		}
	}

	@media screen and (max-width: 1000px) {
		
	}
}

// Services Swiper - Static grid on mobile
.mySwiper-services {
	@media screen and (max-width: 767px) {
		.swiper-wrapper {
			display: flex;
			flex-direction: column;
			gap: 10px;
			transform: none !important;
		}

		.swiper-slide {
			width: 100% !important;
			height: auto !important;
			margin-right: 0 !important;
			opacity: 1 !important;
		}
	}

	.swiper-pagination {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	@media screen and (max-width: 700px) {
		 padding-left: 4%; padding-right: 4%;
	}
}