.timeline_section {
	background: #F5F9EE;
 
  
	}


 .timeline_row_01{ 

    p{ max-width: 45%; margin-left: auto; margin-right: auto; text-align: center; color: #0D6A37; font-weight: 500; font-size: 22px;
    
    @media screen and (max-width: 700px) {
        max-width: 100%; 
    }   
    }
 }

 .timeline_row_02{ width: 100%; position: relative;

    .tileline_ul{ margin: 0; padding: 0; max-width: 1133px; margin-left: auto; margin-right: auto;
        li{ list-style: none; display: flex; flex-wrap: wrap; align-items: center;
            transition: opacity 0.3s ease;
            
            &.active{
                opacity: 1;
            }

            .timeline_item_img{ width: calc(50% - 40px); position: relative; margin: 20px;
            
                &::after{ 
                    content: ''; 
                    position: absolute; 
                    top: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 100%;  
                    background: 
                        linear-gradient(
                            241.46deg,
                            rgba(162, 200, 86, 0.3) 0%,
                            rgba(105, 154, 71, 0.3) 48.000770807266235%,
                            rgba(19, 107, 55, 0.3) 77.33049988746643%
                        ),
                        url(../images/timeline-mask-img.svg) no-repeat center center; 
                    background-size: cover; 
                    z-index: 1;
                }
                @media screen and (max-width: 700px) {
                    width: 100%;
                }
            }
            .timeline_item_content{ width: calc(50% - 40px);  text-align: left; margin: 20px;
            @media screen and (max-width: 700px) {
                width: 100%;
            }
            }
            
            
.timeline_item_content_year{ display: inline-flex; padding: 0 15px; background: #0D6A37; font-size:24px; color: #fff; border-radius:5px; min-width: 185px; justify-content: center; align-items: center; text-align: center; position: relative;


.timeline-dot{ box-sizing: content-box; position: absolute; left: -32px; width: 16px; height: 16px;  border: solid 5px #fff; background: #000; border-radius: 50%;}

    @media screen and (max-width: 700px) {
        font-size:13px;
        min-width: 100px;
    }
}
h4{ margin: 0; margin-bottom: 5px; margin-top: 10px;  font-size:30px; font-weight: 600; line-height: 100%; font-size: 20px; padding-top: 10px; padding-bottom: 5px;


    @media screen and (max-width: 820px) {
        font-size: 24px;
    }
    @media screen and (max-width: 700px) {
        font-size: 17px;
    }
}
p{ margin: 0; max-width: 55%; line-height: 110%;


    @media screen and (max-width: 820px) {
        width: 100%;
    }

    @media screen and (max-width: 700px) {
        max-width: 100%; 
    }
}
        }

        & > :nth-child(odd){
            flex-direction: row-reverse;

            .timeline_item_content{ 

                @media screen and (min-width: 700px) {
                text-align: right; 
                justify-content: flex-end;
                
                p{ margin-left: auto;}
                }
            }

            .timeline-dot{ 
                
                @media screen and (min-width: 700px) {left: unset !important; right: -34px !important;}}
        }
    }

    .timeline-line{ width: 4px; height: 100%; background: #0D6A37; position: absolute; top: 0; left: 50%; transform: translateX(-50%);
    
        @media screen and (max-width: 700px) {
            left: 0; transform: translateX(0);
        }
    }
    
    .timeline-load-more{
        display: block;
        text-align: center;
        padding: 40px 0;
        cursor: pointer;
        color: #0D6A37;
        font-weight: 600;
        transition: opacity 0.3s ease;
        
        &.loading{
            opacity: 0.6;
            pointer-events: none;
        }
        
        &.hidden{
            display: none;
        }
    }
}