// Why Partner Template Part
.why_partner_section {
	width: 100%;
	position: relative;
	 

	.wrap {
		width: 100%;
	 
		margin: 0 auto;
		padding: 0 20px;
        align-items: start;

		@media screen and (max-width: 768px) {
			padding: 0 15px;
			flex-direction: column;
		}

		@media screen and (max-width: 480px) {
			padding: 0 10px;
		}

		.w_50 {
			@media screen and (max-width: 768px) {
				width: 100% !important;
				margin-bottom: 30px;
			}
		}
	}

	.why_partner_list {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;

		.why_partner_item {
			margin: 0;
			padding: 0;
			list-style: none;
            border-bottom: 1px solid  #C4C4C4;
			display: flex;
			align-items: center;
			gap: 20px;
			margin-bottom: 25px;
            padding-bottom: 25px;

			&:last-child {
				margin-bottom: 0;
			}

			@media screen and (max-width: 768px) {
				gap: 15px;
				margin-bottom: 25px;
			}

			@media screen and (max-width: 480px) {
				gap: 12px;
				margin-bottom: 20px;
				flex-direction: column;
				align-items: flex-start;
			}

			.why_partner_icon {
				flex-shrink: 0;
				width: 60px;
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: center;

				@media screen and (max-width: 768px) {
					width: 50px;
					height: 50px;
				}

				@media screen and (max-width: 480px) {
					width: 40px;
					height: 40px;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					display: block;
				}
			}

			.why_partner_content {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap:4px;

				@media screen and (max-width: 480px) {
					gap: 6px;
				}
			}

			.why_partner_title {
				margin: 0;
				color: #000;
				font-size: 23px;
				line-height: 1.4;
				font-weight:500;

				@media screen and (max-width: 1024px) {
					font-size: 18px;
				}

				@media screen and (max-width: 768px) {
					font-size: 17px;
				}

				@media screen and (max-width: 480px) {
					font-size: 16px;
				}
			}

			.why_partner_text {
				margin: 0;
				color: #000;
				font-size: 16px;
				line-height: 1.6;
				font-weight: 300;

				@media screen and (max-width: 1024px) {
					font-size: 16px;
				}

				@media screen and (max-width: 768px) {
					font-size: 15px;
					line-height: 1.5;
				}

				@media screen and (max-width: 480px) {
					font-size: 14px;
				}
			}
		}


        & :last-child {
            border-bottom: none;
        }
	}
}

